@use "sass:color";
@use "tokens";

@mixin button {
  display: inline-flex;
  position: relative;
  align-items: center;
  width: auto;
  color: tokens.$c-copy;
  background: tokens.$c-limeGreen-200;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.2;
  cursor: pointer;
  border: 1px solid color.adjust(tokens.$c-limeGreen-200, $lightness: -30%);
  border-radius: tokens.$br-xs;
  overflow: hidden;
  box-shadow: 0 0.2em 0.3em rgba(tokens.$c-copy, 0.1);
  transition: all 0.15s ease-in;
  position: relative;
  padding: clamp(0.65em, 1vw, 0.8em) tokens.$p-m;
  padding-right: 3em;

  @media (min-width: tokens.$mq-900) {
    font-size: clamp(0.9rem, 3vw, 1rem);
  }

  &::after {
    content: tokens.$i-chevron-right;
    font-family: tokens.$f-icons;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: tokens.$c-limeGreen-700;
    color: white;
    position: absolute;
    z-index: tokens.$layer-2;
    right: 0;
    top: 0;
    width: 2em;
    height: 100%;
    font-size: 1.1em;
    transition: all 0.15s ease-in;
  }

  &:hover {
    background: tokens.$c-limeGreen-400;

    &::after {
      padding-left: 0.3em;
      background: transparent;
      color: tokens.$c-copy;
    }
  }

  &:focus {
    outline: default;
  }

  /* TYPES */

  &.secondary {
    background-color: tokens.$c-darkGreen-700;
    color: tokens.$c-white;

    i {
      background-color: tokens.$c-darkGreen-800;
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
