@use 'tokens';

@mixin extendedBackground(
  $pseudoElement,
  $bg: tokens.$c-white,
  $z: tokens.$layer-0
) {
  &::#{$pseudoElement} {
    content: '';
    display: block;
    width: 150vw;
    height: 100%;
    background: $bg;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: $z;
  }
}
