@use 'tokens';

.randomTestimonials {
  display: flex;
  position: relative;
  overflow: hidden;
  // height: 20rem;

  @media (min-width: tokens.$mq-800) {
    overflow: visible;
    height: 20rem;
  }

  &::after {
    @include tokens.decoPlusSign;
  }

  article {
    width: 50%;
  }

  article:last-child {
    figure {
      border-bottom: 3rem solid tokens.$c-white;
    }
  }
}

.testimonialTag {
  position: absolute;
  top: 0;
  left: 0;
  color: tokens.$c-copy;
}
