@use 'sass:color';
@use 'tokens';
@use 'utilities/mixins';

button[type='submit'],
button[type='button'],
a.button {
  @include mixins.button;
}

a[class*='secondary'] {
  background-color: tokens.$c-darkGreen-700;
  color: tokens.$c-white;

  &::after {
    background: color.adjust(tokens.$c-darkGreen-700, $lightness: -10%);
  }

  &:hover {
    // background-color: tokens.$c-darkGreen-600;
    color: tokens.$c-black;
  }
}

button:disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
