.deadlines-band-block {
  padding-block: clamp(1rem, 2vw, 2rem);
  gap: 2em;

  .content-container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .wp-block-buttons {
      width: 100%;
    }
  }
}
