@use 'sass:color';
@use 'tokens';
@use 'utilities/mixins';

// ==================================
// Featured CTA Cards Section
.columns-container {
  .wp-block-columns {
    &.is-layout-flex {
      display: flex;
      // flex-direction: column;
      flex-flow: row wrap;
      gap: clamp(1rem, 5vw, 2rem);

      @media (min-width: tokens.$mq-1000) {
        flex-flow: row nowrap;
      }

      .wp-block-column {
        display: flex;
        flex-direction: column;
        flex: 0 0 100%;
        min-width: 25%;
        margin-bottom: 20px;

        @media (min-width: tokens.$mq-1000) {
          flex: 0 0 20%;

          &:first-child {
            flex: 0 1 50%;
          }
        }

        &:first-child {
          padding-right: clamp(6rem, 13vw, 13rem);
          position: relative;
          line-height: 1.2;

          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            width: clamp(5rem, 13vw, 13rem);
            height: clamp(5rem, 13vw, 13rem);
            border-right: clamp(2.5em, 3vw, 3em) solid tokens.$c-limeGreen-300;
            border-bottom: clamp(2.5em, 3vw, 3em) solid tokens.$c-limeGreen-300;
            transform: rotate(0deg) translateY(-50%);

            @media (min-width: tokens.$mq-1000) {
              transform: rotate(-45deg) translateY(-50%);
              right: -2em;
              animation: arrowMove 0.8s ease-in-out infinite;
            }
          }
        }

        &.is-vertically-aligned-center {
          align-items: center;

          justify-content: center;
        }
      }
    }
  }
}

@keyframes arrowMove {
  0% {
    transform: rotate(-45deg) translateY(-50%) translateX(0);
  }
  50% {
    transform: rotate(-45deg) translateY(-46%) translateX(0.5em);
  }
  100% {
    transform: rotate(-45deg) translateY(-50%) translateX(0);
  }
}

// =================================
// Image CTA Card
.wp-block-eab-blocks-image-cta-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  padding-block: clamp(2em, 5vw, 4em);
  min-height: 25rem;

  a {
    &.ctaCard {
      max-width: 90%;

      span {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: white;
      }

      &:focus {
        span {
          outline: 3px solid pink;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      object-position: center;
      z-index: tokens.$layer-1;
    }
    span {
      position: relative;
      z-index: tokens.$layer-2;
      @include mixins.button;
    }
  }
}
