@use 'tokens';
@use 'tokens/config';

.react-multiple-carousel__arrow {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-block: config.$baseUnit * 0.9;
  padding-inline: config.$baseUnit * 0.9;
  background-color: tokens.$c-gray-400;
  border: none;
  border-radius: tokens.$br-xs;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    position: relative;
    width: config.$baseUnit * 0.6;
    height: config.$baseUnit * 0.6;
    border-right: 2px solid tokens.$c-darkGreen-750;
    border-bottom: 2px solid tokens.$c-darkGreen-750;
  }

  &--left {
    right: 3rem;
    &::before {
      transform: rotate(135deg) translateX(-25%) translateY(-25%);
    }
  }

  &--right {
    &::before {
      transform: rotate(-45deg) translateX(-15%) translateY(-15%);
    }
  }

  &:hover,
  &:focus {
    background-color: tokens.$c-gray-600;

    &::before {
      border-color: tokens.$c-white;
    }
  }
}

// .react-multi-carousel-dot-list {
//   display: flex;
//   width: 10rem;
//   margin: 0 auto;
//   gap: 1em;

//   .react-multi-carousel-dot {
//     flex: 1 0 3em !important;

//     &::after {
//       display: none;
//     }

//     button {
//       background-color: tokens.$c-gray-200;
//       height: 0.5em;
//       width: 1em;
//       border: none;
//       width: 100%;
//       cursor: pointer;
//     }

//     &--active {
//       button {
//         background-color: tokens.$c-limeGreen-700;
//       }
//     }
//   }
// }

// ====================
//=====================
// React Carousel styles

// @font-face {
//   font-family: 'revicons';
//   fallback: fallback;
//   src: url('./revicons.woff') format('woff'),
//     url('./revicons.ttf') format('ttf'), url('./revicons.eot') format('ttf');
// }
.react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.react-multi-carousel-track {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, transition;
}
// .react-multiple-carousel__arrow {
//   position: absolute;
//   outline: 0;
//   transition: all 0.5s;
//   border-radius: 35px;
//   z-index: 1000;
//   border: 0;
//   background: tokens.$c-limeGreen-500;
//   min-width: 43px;
//   min-height: 43px;
//   opacity: 1;
//   cursor: pointer;

//   left: calc(4% + 1px);

//   &::before {
//     content: '';
//     display: block;
//     position: relative;
//     width: config.$baseUnit * 0.6;
//     height: config.$baseUnit * 0.6;
//     border-right: 2px solid tokens.$c-darkGreen-750;
//     border-bottom: 2px solid tokens.$c-darkGreen-750;
//   }

//   &--left {
//     right: 3rem;
//     &::before {
//       transform: rotate(135deg) translateX(-25%) translateY(-25%);
//     }
//   }
// }
// .react-multiple-carousel__arrow:hover {
//   background: rgba(0, 0, 0, 0.8);
// }
// .react-multiple-carousel__arrow::before {
//   font-size: 20px;
//   color: #fff;
//   display: block;
//   font-family: revicons;
//   text-align: center;
//   z-index: 2;
//   position: relative;
// }
.react-multiple-carousel__arrow:disabled {
  cursor: default;
  background: rgba(0, 0, 0, 0.5);
}
// .react-multiple-carousel__arrow--left {
//   left: calc(4% + 1px);

//   &::before {
//     content: '';
//     display: block;
//     position: relative;
//     width: config.$baseUnit * 0.6;
//     height: config.$baseUnit * 0.6;
//     border-right: 2px solid tokens.$c-darkGreen-750;
//     border-bottom: 2px solid tokens.$c-darkGreen-750;
//   }

//   &--left {
//     right: 3rem;
//     &::before {
//       transform: rotate(135deg) translateX(-25%) translateY(-25%);
//     }
//   }
// }
// .react-multiple-carousel__arrow--left::before {
//   content: '\e824';
// }
// .react-multiple-carousel__arrow--right {
//   right: calc(4% + 1px);
// }
// .react-multiple-carousel__arrow--right::before {
//   content: '\e825';
// }
.react-multi-carousel-dot-list {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  max-width: 10rem;
  // left: 50%;
  right: 6rem;
  bottom: 1em;
  // transform: translateX(-50%);
  justify-content: center;
  margin: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.react-multi-carousel-dot {
  button {
    display: inline-block;
    width: 1.5rem;
    height: 0.7rem;
    border-radius: 0.5em;
    opacity: 1;
    padding: 5px 5px 5px 5px;
    box-shadow: none;
    transition: all 0.5s ease;
    border-width: 2px;
    border-style: solid;
    border-color: tokens.$c-darkGreen-750;
    padding: 0;
    margin: 0;
    margin-right: 6px;
    outline: 0;
    cursor: pointer;

    &:hover:active {
      background: tokens.$c-limeGreen-400;
    }
  }

  &--active {
    button {
      background: tokens.$c-limeGreen-400;
      width: 2rem;
    }
  }
}

.react-multi-carousel-item {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .react-multi-carousel-item {
    flex-shrink: 0 !important;
  }
  .react-multi-carousel-track {
    overflow: visible !important;
  }
}
[dir='rtl'].react-multi-carousel-list {
  direction: rtl;
}
.rtl.react-multiple-carousel__arrow--right {
  right: auto;
  left: calc(4% + 1px);
}
.rtl.react-multiple-carousel__arrow--right::before {
  content: '\e824';
}
.rtl.react-multiple-carousel__arrow--left {
  left: auto;
  right: calc(4% + 1px);
}
.rtl.react-multiple-carousel__arrow--left::before {
  content: '\e825';
}
