@use 'sass:color';
@use 'tokens';

@mixin alertBar($color) {
  display: flex;
  background: color.adjust($color, $lightness: 43%);
  border-top: 0.2em solid color.adjust($color, $lightness: -10%);
  border-bottom: 0.2em solid color.adjust($color, $lightness: -10%);

  @media (min-width: tokens.$mq-900) {
    padding-left: 15vw;

    &::before {
      content: '';
      display: block;
      width: 100vh;
      height: 10vw;
      background: $color;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    }
  }

  &::after {
    content: '';
    display: block;
    width: 1em;
    height: 100%;
    background: $color;
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: tokens.$mq-900) {
      width: 100vh;
      height: 3vw;
      top: 50%;
      left: 10%;
      border-top: clamp(0.3em, 0.5vw, 0.5em) solid
        color.adjust($color, $lightness: -10%);
      transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    }
  }

  .alertBarContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: tokens.$mq-1400;
    gap: 2em;
    padding: clamp(0.8em, 1.2vw, 1.2em);

    @media (min-width: tokens.$mq-900) {
      padding-inline: 6vw;
      gap: clamp(2em, 3vw, 3em);
    }

    // available icons:
    // $i-warning2,
    // $i-location,

    &::before {
      content: tokens.$i-warning;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: tokens.$f-icons;
      font-size: 2em;
      color: color.adjust($color, $lightness: -10%);
      animation: scaleAnimation 0.5s infinite;

      @media (min-width: tokens.$mq-900) {
        font-size: clamp(2em, 3vw, 3em);
      }
    }

    @keyframes scaleAnimation {
      0%,
      100% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
    }
  }

  .alertBarText {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5em, 1.2vw, 1.2em);
    border-left: 1px solid color.adjust($color, $lightness: -10%);
    // border-right: 1px solid color.adjust($color, $lightness: -10%);
    padding-inline: clamp(1em, 3vw, 3em);
    // max-width: tokens.$mq-1000;

    p {
      font-size: clamp(1rem, 1.2vw, 1.2rem);
      line-height: 1.4;
      margin: 0;
    }
    a {
      flex-shrink: 0;
      font-size: clamp(1rem, 1.2vw, 1.2rem);
      color: color.adjust($color, $lightness: -25%);
      width: fit-content;
    }
  }

  .alertBarClose {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    height: 1em;
    font-size: 2em;
    color: color.adjust($color, $lightness: -10%);
    padding: 0.1em 0.5em;
    cursor: pointer;
    border: none;
    background: none;
    text-indent: -999em;
    margin-inline: auto 0;
    border-left: 1px solid color.adjust($color, $lightness: -10%);

    &::after {
      content: tokens.$i-close;
      font-family: tokens.$f-icons;
      position: relative;
      text-indent: 0;
    }

    &:hover {
    }
  }

  .srOnly {
  }
}

// ==========================

.alertBar {
  display: flex;
  overflow: hidden;
  position: absolute;
  left: 0;
  z-index: tokens.$layer-10;
  width: 100%;
  padding-left: 1em;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  &.info {
    opacity: 1;
    @include alertBar(tokens.$c-limeGreen-500);
  }

  &.warning {
    @include alertBar(red);
    opacity: 1;
  }

  &.alert {
    @include alertBar(tokens.$c-orange-800);
    opacity: 1;
  }
}
