@use 'sass:color';
@use 'tokens';
@use 'utilities/mixins';

// TODO: Andrei, these next 4 styles were throwing warnings bc they are being called in Button.tsx but not available

.iconOnly {
  display: inline;
}

.iconLeft {
  display: inline;
}

.fluid {
  display: inline;
}

.disabled {
  display: inline;
}

.button {
  @include mixins.button;
  position: relative;
  z-index: tokens.$layer-1;

  i {
    display: none;
  }

  &:focus {
    outline: default;
  }

  /* SIZES */
  &.extra-large {
    font-size: tokens.$fs-xs;
  }

  &.medium {
    // @apply px-3 py-2;
  }

  &.small {
    font-size: tokens.$fs-3xs;
  }

  &.fluid {
    // @apply block w-full text-center;
  }

  &.regularlink {
    display: inline-flex;
    align-items: center;
    color: tokens.$c-teal-300;
    background-color: transparent;
    text-decoration: underline;
    text-align: left;
    text-transform: uppercase;
    padding: 0;
    padding-right: 2em;
    border: none;
    box-shadow: none;
    transition: all 0.2s ease-in;

    &::after {
      display: none;
    }

    i {
      display: inline-flex;
      align-items: flex-end;
      justify-content: center;
      font-size: 1.3em;
      font-weight: 600;
      height: 1.2em;
      background: none;

      svg {
        color: tokens.$c-teal-300;
      }
    }

    &:hover {
      text-decoration: none;
      gap: 0.2em;
      transition: all 0.2s ease-in;
    }
  }

  /* STYLES */
  &.styleOutline {
    border: 2px solid;
  }
}
