@use 'tokens';
@use 'utilities/mixins';

.newsSection {
  background: tokens.$c-darkGreen-700;
  @include mixins.sectionPadding;
  display: flex;
  flex-direction: column;
  z-index: tokens.$layer-10;
  position: relative;

  &::before {
    @include mixins.extendedBackground(tokens.$c-darkGreen-700);
  }

  @media (min-width: tokens.$mq-800) {
    padding: 0;
    @include mixins.sectionPadding(block);
  }

  @media (min-width: tokens.$mq-1200) {
    flex-direction: row;
    @include mixins.sectionPadding($size: 2vw);

    &::before {
      display: none;
    }
  }

  .sectionHead {
    display: flex;
    flex-direction: column;
    gap: tokens.$m-xl;
    align-items: flex-start;

    .sectionTag {
      @include mixins.sectionTag();
      position: relative;
    }

    h2 {
      color: tokens.$c-white;
    }
  }
}

.newsContainer {
  display: block;
  width: 100%;
}

.newsCarousel {
  margin-bottom: clamp(2rem, 4vw, 4rem);

  li[class*='item'] {
    position: relative;

    article {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding-block: tokens.$p-l;
      padding-inline: tokens.$p-l;
      transition: all 0.2s ease-in;

      @media (min-width: tokens.$mq-1200) {
        padding-block: tokens.$p-xl;
        padding-inline: 0;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 4px;
      height: 70%;
      background: url(../../../assets/divider-draw-line-vertical.svg) no-repeat
        center;
      background-size: 100% auto;
      right: 0;
      top: 50%;
      left: initial;
      bottom: initial;
      transform: translateY(-50%);
    }
  }
}
