@use 'tokens';
@use 'utilities/mixins';

.relatedProgramCard {
  border: 3px solid tokens.$c-gray-300;
  padding: 1rem;
  flex: 1;

  h3 {
    border-bottom: 1px solid tokens.$c-gray-400;
    padding-bottom: 0.5em;
    font-size: clamp(tokens.$fs-s, 1.5vw, tokens.$fs-m);
    margin-bottom: 1em;
    min-height: 3em;
  }

  p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    color: tokens.$c-copy;
    font-size: tokens.$fs-xs;
  }
}
