@use 'tokens';

// TODO: Andrei, these next 3 styles are being called in Groups.js but were not listed here

.groupsStacked {
  display: block;
}

.alignCenter {
  display: flex;
  justify-content: center;
}

.alignBottom {
  display: flex;
  justify-content: flex-end;
}

.groups {
  // background: red;

  // .page-content & {
  //   background: yellow;

  //   &:first-child {
  //     background: red;
  //   }
  // }
  // display: grid;
  // grid-template-columns: subgrid;
  // grid-column: span 24;

  // * {
  //   grid-column: 1 / -1;
  // }

  &.groupsStacked {
  }

  &.alignCenter {
    & .groups {
    }
  }

  &.alignBottom {
    & .groups {
    }
  }

  &.hasBackground {
    padding: 8px;
    border: 5px solid green;
  }

  & .groups {
    &.hasBackground {
      padding: 8px;
      border: 5px solid yellow;
    }
  }
}
