@use 'tokens';

.footerNav {
}

.footerMenu {
  padding: 0;
  list-style: none;
  columns: 2;

  @media (max-width: tokens.$mq-800) {
    columns: initial;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    position: relative;

    li {
      margin: 0;
      width: calc(50% - 1em);
    }
  }

  li {
    margin-block: 0.5em;
    a {
      color: tokens.$c-white;
      text-decoration: none;
      border-bottom: 1px solid rgba(white, 50%);

      &:hover {
        color: tokens.$c-limeGreen-300;
        text-decoration: none;
        border-bottom: none;
      }
    }
  }
}
