@use "tokens";

.footerNav {
}

.footerMenu {
  list-style: none;

  @media (min-width: tokens.$mq-800) {
    columns: 2;
  }

  li {
    margin-block: 0.5em;
    a {
      color: tokens.$c-white;
      text-decoration: none;
      border-bottom: 1px solid rgba(white, 50%);

      &:hover {
        color: tokens.$c-limeGreen-300;
        text-decoration: none;
        border-bottom: none;
      }
    }
  }
}
