@use "tokens";
@use "utilities/mixins";

// =================================
// Buttons Style Functions (mixins, extends, etc.)

@mixin buttonStyle($bgColor, $textColor, $iconBgColor, $bgColorHover) {
  background-color: $bgColor;
  color: $textColor;

  i,
  &::after {
    background-color: $iconBgColor;
  }

  &:hover {
    background-color: $bgColorHover;
    color: $textColor;

    i,
    &::after {
      color: $textColor;
    }
  }
}

%darkButton {
  @include buttonStyle(tokens.$c-darkGreen-700, tokens.$c-white, tokens.$c-darkGreen-800, tokens.$c-darkGreen-800);
}

%lightButton {
  @include buttonStyle(tokens.$c-white, tokens.$c-gray-800, tokens.$c-limeGreen-500, tokens.$c-limeGreen-200);
}

// =================================

.wp-block-button {
  & {
    a,
    button {
      @include mixins.button;
    }
  }

  &.is-style-dark {
    a {
      @extend %darkButton;
    }
  }

  &.is-style-light {
    a {
      @extend %lightButton;
    }
  }

  &.is-style-link {
    a {
      background: none;
      border: none;
      border-radius: 0;
      padding-block: 0.25em;
      padding-left: 0;
      padding-right: 1.5em;
      color: tokens.$c-teal-800;
      text-decoration: underline;
      box-shadow: none;

      &::after {
        background: none;
        color: tokens.$c-teal-800;
        width: 1.2em;
      }

      &:hover {
        background: none;
        text-decoration: underline;
      }
    }
  }
}

button.is-style-dark,
a.is-style-dark {
  @extend %darkButton;
}

button.is-style-light,
a.is-style-light {
  @extend %lightButton;
}

button.is-style-link,
a.is-style-link {
  background: none;
  border: none;
  border-radius: 0;
  padding-block: 0.25em;
  padding-left: 0;
  padding-right: 1.5em;
  color: tokens.$c-teal-800;
  text-decoration: underline;
  box-shadow: none;

  &::after {
    background: none;
    width: 1.2em;
    color: tokens.$c-teal-800;
    font-size: 0.9rem;
  }

  &:hover {
    background: none;
    text-decoration: none;
  }
}

.wp-block-buttons {
  &:where(.is-layout-flex) {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    gap: 1rem;
  }

  .wp-block-column & {
    flex-direction: column;
  }
}
