@use "tokens";
@use "utilities/mixins";

$lightColors: (
  bright-green: tokens.$c-limeGreen-300,
  light-green: tokens.$c-limeGreen-400,
  med-green: tokens.$c-limeGreen-500,
  lime-green: tokens.$c-limeGreen-600,
  bright-teal: tokens.$c-teal-300,
  teal: tokens.$c-teal-500,
  bright-lavender: tokens.$c-lavender-500,
  gold: tokens.$c-yellow-500,
  bright-orange: tokens.$c-orange-500,
  sand: tokens.$c-gray-300,
  off-white: tokens.$c-gray-200,
  light-gray: tokens.$c-gray-400,
  neutral-gray: tokens.$c-gray-500,
  white: tokens.$c-white
);

$darkColors: (
  dark-green: tokens.$c-darkGreen-700,
  deep-green: tokens.$c-darkGreen-800,
  dark-teal: tokens.$c-teal-800,
  dark-purple: tokens.$c-lavender-800,
  dark-gray: tokens.$c-gray-600,
  black: tokens.$c-gray-800
);

//! ===========================================

@mixin colorLoop($colorMap, $colorContrast) {
  @each $name, $theColor in $colorMap {
    .#{$name} {
      color: $theColor;
    }

    div.#{$name},
    section.#{$name} {
      background-color: $theColor;
      color: $colorContrast;
      margin-bottom: clamp(2rem, 4vw, 4rem);
      @include mixins.extendedBackground("after", $theColor);

      & > [class*="_column"] {
        position: relative;
        z-index: tokens.$layer-2;

        &::after {
          display: none;
        }
        // @include mixins.extendedBackground('after', $theColor);
      }
    }

    div.#{$name}[class*="_column"] {
      &::after {
        display: none;
      }
    }
  }
}

@include colorLoop($lightColors, tokens.$c-gray-800);
@include colorLoop($darkColors, tokens.$c-white);

//! ===========================================
//! Has background $color and Has text $color
//! ===========================================
@mixin hasColorLoop($colorMap, $classPrefix) {
  @each $name, $theColor in $colorMap {
    .has-text-color.has-#{$name}-color {
      color: $theColor;

      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $theColor;
      }
    }

    .has-background.has-#{$name}-background-color {
      background-color: $theColor;
    }

    .section.has-#{$name}-background-color {
      background-color: $theColor;
      margin-bottom: clamp(2rem, 4vw, 4rem);
      @include mixins.extendedBackground("after", $theColor);

      & > .content-container {
        position: relative;
        z-index: tokens.$layer-10;
      }
    }
  }
}

@include hasColorLoop($lightColors, "light");
@include hasColorLoop($darkColors, "dark");

// !=======================================

.has-background.has-transparent-background-color {
  background-color: transparent;
}
