@use "@/styles/tokens";

div:where(.wp-block-columns) {
  &:where(.is-layout-flex) {
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // gap: 1rem;
    // flex-direction: column;

    // @media (min-width: tokens.$mq-900) {
    //   flex-direction: row;
    // }
  }

  :where(.wp-block-column) {
    flex: 1;
    min-width: 0;
    padding: 0.5em;

    &:where(.is-layout-flow) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      flex: 1;
      gap: 1em;
    }
  }
}

.block-html {
  width: 100%;
  max-width: 100%;
}
