@use 'sass:color';
@use 'tokens';

.wp-block-table {
  // margin: clamp(2rem, 5vw, 4rem);

  @media (max-width: tokens.$mq-800) {
    overflow-x: auto;
    // margin: 2rem 0;
    border-right: 5px solid lightgray;

    table {
      min-width: 35rem;
    }
  }

  table {
    width: 100%;

    th,
    td {
      padding: 0.5rem;
      border: 1px solid tokens.$c-limeGreen-500;

      &.has-text-align-right {
        text-align: right;
      }

      &.has-text-align-center {
        text-align: center;
      }
    }

    thead {
      border-bottom: 3px solid tokens.$c-limeGreen-500;
    }

    // tbody {
    //   tr {
    //     th,
    //     td {
    //     }
    //   }
    // }

    tfoot {
      border-top: 3px solid tokens.$c-darkGreen-700;
    }
  }

  &.alignleft,
  &.aligncenter,
  &.alignright {
    display: table;
    width: auto;

    td,
    th {
      word-break: break-word;
    }
  }

  .has-fixed-layout {
    table-layout: fixed;
    width: 100%;

    td,
    th {
      word-break: break-word;
    }
  }

  &.is-style-stripes {
    border-spacing: 0;
    border-collapse: inherit;
    background-color: transparent;

    tbody tr:nth-child(odd) {
      background-color: color.adjust(tokens.$c-gray-200, $lightness: 10%);
    }

    &.has-subtle-light-gray-background-color {
      tbody tr:nth-child(odd) {
        background-color: tokens.$c-gray-400;
      }
    }

    th,
    td {
      border-color: transparent;
    }

    border-bottom: 1px solid tokens.$c-gray-500;
  }

  &.is-style-color-table-heading {
    thead th {
      background-color: tokens.$c-darkGreen-700;
      color: tokens.$c-white;
    }
  }

  // Border Styles
  //
  // Allow any custom border color, style or width selections to be inherited
  // from the table element that receives the border support props.

  .has-border-color {
    > *,
    tr,
    th,
    td {
      border-color: inherit;
    }
  }
}

// from @nodes / @wordpress / blocks / src / block-library / default-styles.scss

// .wp-block-table {

//   table[style*='border-top-color'] {
//     > *,
//     tr:first-child {
//       border-top-color: inherit;

//       th,
//       td {
//         border-top-color: inherit;
//       }
//     }

//     tr:not(:first-child) {
//       border-top-color: currentColor;
//     }
//   }
//   table[style*='border-right-color'] {
//     > *,
//     tr,
//     th,
//     td:last-child {
//       border-right-color: inherit;
//     }
//   }
//   table[style*='border-bottom-color'] {
//     > *,
//     tr:last-child {
//       border-bottom-color: inherit;

//       th,
//       td {
//         border-bottom-color: inherit;
//       }
//     }

//     // Border support classes and styles are applied on the table block
//     // itself. This means that without the rule below every table row would
//     // have a bottom border matching the color of the table's border.
//     // This style gives the best visual appearance and most expected result
//     // until we can control individual table rows or cells via inner blocks.
//     tr:not(:last-child) {
//       border-bottom-color: currentColor;
//     }
//   }
//   table[style*='border-left-color'] {
//     > *,
//     tr,
//     th,
//     td:first-child {
//       border-left-color: inherit;
//     }
//   }

//   table[style*='border-style'] {
//     > *,
//     tr,
//     th,
//     td {
//       border-style: inherit;
//     }
//   }

//   table[style*='border-width'] {
//     > *,
//     tr,
//     th,
//     td {
//       border-width: inherit;
//       border-style: inherit;
//     }
//   }
// }
