@use 'sass:color';
@use 'tokens';
@use 'utilities/mixins';

.departmentSelectorSection {
  gap: 2em;
  margin-bottom: clamp(2rem, 4vw, 4rem);
  @include mixins.sectionPadding(block);
  position: relative;

  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    background: tokens.$c-gray-400;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }

  .group {
    display: flex;
    align-items: center;
    border-top: 1px solid tokens.$c-gray-300;
    border-bottom: 1px solid tokens.$c-gray-300;
    @include mixins.sectionPadding;
    background: tokens.$c-gray-200;
    position: relative;
    gap: 2rem;
    @include mixins.extendedBackground('after', tokens.$c-gray-200);

    .intro {
      flex: 1 1 40rem;
      h2 {
      }
      p {
        margin: 0;
      }
    }
    .departmentSelector {
      flex: 1;
      max-width: 35rem;

      select {
        background: tokens.$c-white;
      }
    }
  }

  .departmentResults {
    .departmentsContainer {
      @include mixins.sectionPadding('inline');
      display: flex;
      flex-direction: column;
      gap: clamp(1rem, 4vw, 4rem);

      section.department {
        border-left: 1px solid tokens.$c-gray-400;
        margin-top: 4rem;

        .departmentHead {
          display: flex;
          flex-direction: column;

          figure {
            max-width: 50%;
          }

          @media (min-width: tokens.$mq-800) {
            flex-direction: row;
          }
        }

        .departmentInfo {
          padding: clamp(1rem, 2vw, 2rem);
        }

        .programsSubtitle {
          display: flex;
          gap: 1rem;
          align-items: center;
          padding: 2rem 2rem 0 2rem;
          margin-bottom: 0;

          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: tokens.$c-gray-400;
          }
        }

        .programsList {
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 2rem;
          gap: 1rem;

          li {
            .resultProgramCard {
              border: 3px solid tokens.$c-gray-300;
              padding: 1rem;
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: clamp(1rem, 2vw, 2rem);

              @media (min-width: tokens.$mq-800) {
                flex-direction: row;
              }

              .programContent {
                h3 {
                  border-bottom: 1px solid tokens.$c-gray-400;
                  padding-bottom: 0.5em;
                  font-size: clamp(tokens.$fs-s, 1.5vw, tokens.$fs-m);
                  margin-bottom: 1em;
                  // min-height: 3em;
                }

                p {
                  display: -webkit-box;
                  overflow: hidden;
                  -webkit-line-clamp: 6;
                  -webkit-box-orient: vertical;
                  color: tokens.$c-copy;
                  font-size: tokens.$fs-xs;
                }
              }

              .button {
                flex-shrink: 0;

                @media (min-width: tokens.$mq-800) {
                  margin-top: 1em;
                }
              }
            }
          }
        }

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: clamp(2rem, 4vw, 4rem);
          background: url('../../../assets/lines-texture.png');
        }
      }
    }
  }
}
