@use "sass:color";
@use "tokens";
@use "utilities/mixins";

.departmentSelectorSection {
  gap: 2em;
  margin-bottom: clamp(2rem, 4vw, 4rem);
  @include mixins.sectionPadding(block);
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: tokens.$c-gray-400;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }

  .group {
    display: flex;
    align-items: center;
    border-top: 1px solid tokens.$c-gray-300;
    border-bottom: 1px solid tokens.$c-gray-300;
    @include mixins.sectionPadding;
    background: tokens.$c-gray-200;
    position: relative;
    gap: 2rem;
    @include mixins.extendedBackground("after", tokens.$c-gray-200);

    & > * {
      position: relative;
      z-index: tokens.$layer-2;
    }

    .intro {
      flex: 1 1 40rem;
      h2 {
      }
      p {
        margin: 0;
      }
    }
    .departmentSelector {
      flex: 1;
      max-width: 35rem;

      select {
        background: tokens.$c-white;
      }
    }
  }

  .departmentResults {
    .departmentsContainer {
      @include mixins.sectionPadding("inline");
      display: flex;
      flex-direction: column;
      gap: clamp(1rem, 4vw, 4rem);

      section.department {
        // border-left: 1px solid tokens.$c-gray-400;
        margin-top: 4rem;

        .departmentHead {
          display: flex;
          flex-direction: column;

          figure {
            max-width: 50%;
          }

          @media (min-width: tokens.$mq-800) {
            flex-direction: row;
          }
        }

        .departmentInfo {
          padding: clamp(1rem, 2vw, 2rem);
        }

        .programTable {
          display: flex;
          flex-direction: column;
          background: tokens.$c-gray-200;
          position: relative;

          &::after {
            content: "";
            display: block;
            width: 100vw;
            height: 100%;
            background: tokens.$c-gray-200; // url("../../../assets/lines-texture.png");
            position: absolute;
            z-index: 1;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }

          thead {
            position: relative;
            z-index: 10;
            background: tokens.$c-gray-300;

            tr {
              display: flex;
              flex-direction: column;

              th {
                width: 100%;
                font-size: clamp(tokens.$fs-xs, 1vw, tokens.$fs-s);
                font-weight: 400;
                border-right: 1px solid tokens.$c-gray-500;
                padding: tokens.$p-m;
                vertical-align: baseline;
                margin: 0;
                text-transform: uppercase;

                h2 {
                  font-size: clamp(tokens.$fs-m, 1.5vw, tokens.$fs-l);
                  transform: translateY(0.2em);
                  color: tokens.$c-black;
                  font-weight: normal;
                  padding-top: 1em;
                }

                // hide all except the first one
                &:not(:first-child) {
                  position: absolute;
                  left: -999em;
                  @media (min-width: tokens.$mq-800) {
                    position: relative;
                    left: auto;
                  }
                }

                &:last-child {
                  border-right: none;
                }

                @media (min-width: tokens.$mq-800) {
                  &:first-child {
                    // width: clamp(15rem, 25vw, 25rem);
                    width: 70%;
                    flex-shrink: 0;
                  }
                  h2 {
                    padding-top: 0;
                  }
                }
              }

              @media (min-width: tokens.$mq-800) {
                flex-direction: row;
              }
            }
          }

          tbody {
            position: relative;
            z-index: 10;
            background: tokens.$c-gray-200;

            tr {
              display: flex;
              flex-direction: column;
              border-top: 1px solid tokens.$c-gray-500;
              margin-bottom: 2em;

              @media (min-width: tokens.$mq-800) {
                margin: 0;
              }

              td {
                width: 100%;
                padding: tokens.$p-m;
                border-right: 1px solid tokens.$c-gray-500;
                border-bottom: 1px dashed tokens.$c-gray-500;

                &:last-child {
                  border-bottom-style: solid;
                }

                @media (min-width: tokens.$mq-800) {
                  border-bottom: none;

                  &:last-child {
                    border-right: none;
                    border-bottom: none;
                  }
                }

                .tableProgramTitle {
                  h3 {
                    font-size: clamp(tokens.$fs-m, 1vw, tokens.$fs-m);
                    margin: 0;
                  }
                }

                ul {
                  margin: 0;
                  padding: 0;

                  li {
                    margin-left: 0.5em;

                    &:last-child {
                      margin-bottom: 0;
                    }
                  }
                }

                .modalityList {
                  display: flex;

                  .modalityCard {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 0.85em;
                    padding: 0.2em 0.8em;
                    border-right: 1px solid tokens.$c-gray-500;

                    &:last-child {
                      border-right: none;
                    }

                    svg {
                      width: 2em;
                      height: 2em;
                      fill: tokens.$c-darkGreen-700;
                    }
                  }
                }

                .tableCellHead {
                  display: block;
                  margin-bottom: 1em;
                  font-weight: 700;
                }

                @media (min-width: tokens.$mq-800) {
                  &:first-child {
                    // width: clamp(15rem, 25vw, 25rem);
                    width: 70%;
                    flex-shrink: 0;
                  }

                  .tableCellHead {
                    display: none;
                  }
                }
              }

              @media (min-width: tokens.$mq-800) {
                flex-direction: row;
              }
            }
          }
        }
      }
    }
  }
}

.programDirectory {
  padding-block: clamp(1.5rem, 3vw, 3rem);

  h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid tokens.$c-gray-400;
  }

  .degreeTypeName {
    border-left: 3px solid tokens.$c-limeGreen-400;
    padding-left: 0.5em;
  }
}

.programTableContainer {
  display: block;
}
.programTable {
  display: flex;
  flex-direction: column;
  background: tokens.$c-gray-200;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100vw;
    height: 100%;
    background: tokens.$c-gray-200; // url("../../../assets/lines-texture.png");
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  thead {
    position: relative;
    z-index: 10;
    background: tokens.$c-gray-300;

    tr {
      display: flex;
      flex-direction: column;

      th {
        width: 100%;
        font-size: clamp(tokens.$fs-2xs, 0.8vw, tokens.$fs-s);
        font-weight: 400;
        border-right: 1px solid tokens.$c-gray-500;
        padding-block: tokens.$p-s;
        padding-inline: tokens.$p-m;
        vertical-align: baseline;
        margin: 0;
        text-transform: uppercase;

        // hide all except the first one
        &:not(:first-child) {
          position: absolute;
          left: -999em;
          @media (min-width: tokens.$mq-800) {
            position: relative;
            left: auto;
          }
        }

        &:last-child {
          border-right: none;
        }

        @media (min-width: tokens.$mq-800) {
          &:first-child {
            width: 70%;
            flex-shrink: 0;
          }
        }
      }

      @media (min-width: tokens.$mq-800) {
        flex-direction: row;
      }
    }
  }

  tbody {
    position: relative;
    z-index: 10;
    background: tokens.$c-gray-200;

    tr {
      display: flex;
      flex-direction: column;
      margin-bottom: 2em;

      @media (min-width: tokens.$mq-800) {
        border-top: 1px solid tokens.$c-gray-500;
        margin: 0;
      }

      &.parentProgram {
        border-top: 0.5em solid tokens.$c-gray-400;

        .tableProgramTitle {
          h4 {
            font-weight: 900;
            font-size: calc(clamp(tokens.$fs-s, 1vw, tokens.$fs-m) * 1.1);
          }
        }
      }

      td {
        width: 100%;
        padding: clamp(tokens.$p-xs, 1vw, tokens.$p-m);
        border-right: 1px solid tokens.$c-gray-500;
        border-bottom: 1px dashed tokens.$c-gray-500;

        &:last-child {
          border-bottom-style: solid;
        }

        @media (min-width: tokens.$mq-800) {
          border-bottom: none;

          &:last-child {
            border-right: none;
            border-bottom: none;
          }
        }

        .tableProgramTitle {
          h4 {
            font-size: clamp(tokens.$fs-s, 1vw, tokens.$fs-m);
            margin: 0;
            font-weight: 300;
          }
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            margin-left: 0.5em;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .modalityList {
          display: flex;

          .modalityCard {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.85em;
            line-height: 0;
            padding: 0.2em 0.8em;
            border-right: 1px solid tokens.$c-gray-500;

            &:last-child {
              border-right: none;
            }

            svg {
              width: 2em;
              height: 2em;
              fill: tokens.$c-darkGreen-700;
            }
          }
        }

        .tableCellHead {
          display: block;
          margin-bottom: 0.2em;
          font-weight: 700;
        }

        @media (min-width: tokens.$mq-800) {
          &:first-child {
            width: 70%;
            flex-shrink: 0;
          }

          .tableCellHead {
            display: none;
          }
        }
      }

      @media (min-width: tokens.$mq-800) {
        flex-direction: row;
      }
    }
  }
}
