@use 'tokens';
@use 'utilities/mixins';

.wc-simple-call-out-band {
  @include mixins.sectionPadding(block);
  background: tokens.$c-limeGreen-300;
  align-items: center;

  @include mixins.extendedBackground('after', tokens.$c-limeGreen-300);

  & > div {
    position: relative;
    z-index: tokens.$layer-2;
  }
}
