@use 'sass:color';
@use 'tokens';

.wc-content-drawer {
  border-left: 1px solid tokens.$c-gray-400;
  display: flex;
  flex-direction: column;

  .wc-content-drawer-intro-g {
    padding: clamp(tokens.$p-m, 5vw, tokens.$p-l);

    [class*='columns'] {
      gap: tokens.$p-xl;
      margin: 0;
    }
  }

  .wc-content-drawer-main-content-g {
    height: 0px;
    overflow: hidden;
    opacity: 0;
  }

  .drawerBtnContainer {
    padding: clamp(tokens.$p-m, 5vw, tokens.$p-l);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;

    &::before {
      content: '';
      display: block;
      width: 100%;
      border-top: 1px solid tokens.$c-gray-400;
    }

    .drawerButton {
      align-self: flex-end;

      i {
        display: none;
      }

      &::after {
        content: tokens.$i-plus-bold;
        font-family: tokens.$f-icons;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 2em;
        background: tokens.$c-limeGreen-500;
        color: tokens.$c-white;
      }
    }
  }

  &.drawerOpen {
    .wc-content-drawer-main-content-g {
      height: 100%;
      padding: clamp(tokens.$p-m, 5vw, tokens.$p-l);
      opacity: 1;
    }

    .drawerButton {
      &::after {
        content: tokens.$i-minus-bold;
      }
    }
  }
}
