@use "sass:color";
@use "tokens";

.single-faculty {
  .page-content {
    padding: 0;
  }

  .hero-w-image {
    margin-bottom: 2rem;

    .page-hero {
      position: relative;
      height: clamp(20rem, 40vw, 35rem);
      width: clamp(15rem, 40vw, 30rem);

      & > figure[class*="image"] {
        position: relative;
        width: 100%;

        img {
          object-position: top;
        }
      }
    }
    .page-head {
      bottom: 4em;
      padding-block: clamp(0.7rem, 2vw, 1rem);
    }
  }

  .facultyContent {
    width: 100%;
    max-width: tokens.$mq-800;

    .facultyData {
      padding: clamp(1rem, 2vw, 2rem);
      background: tokens.$c-gray-300;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      padding-left: clamp(2rem, 5vw, 4rem);
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: calc(100% - 2rem);
        right: 0;
        width: 30%;
        border-top-right-radius: 1rem;
        border-bottom: 4em solid tokens.$c-gray-300;
        border-left: 2em solid transparent;
      }

      &::after {
        content: "";
        display: block;
        width: clamp(1em, 2vw, 2em);
        height: 100%;
        background: #66a409;
        position: absolute;
        top: 0;
        left: 0;
      }

      .facultyDataLine {
        position: relative;
        padding-left: 2.2em;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid color.adjust(tokens.$c-gray-300, $lightness: -10%);
        padding-block: clamp(0.2em, 1vw, 0.4em);
        word-break: break-word;

        &::before {
          content: "";
          display: flex;
          align-items: center;
          justify-content: center;
          color: tokens.$c-darkGreen-700;
          font-family: tokens.$f-icons;
          width: 1.5em;
          height: 1.2em;
          font-size: tokens.$fs-s;
          position: absolute;
          top: 0.3em;
          left: 0;
          transform: rotate(-2deg);
        }

        &.email {
          &::before {
            content: tokens.$i-mail;
          }
        }

        &.phone {
          &::before {
            content: tokens.$i-phone;
          }
        }

        &.location {
          &::before {
            content: tokens.$i-office;
          }
        }

        &.position {
          &::before {
            content: tokens.$i-books;
            background: none;
            color: tokens.$c-darkGreen-700;
          }
        }
      }
    }

    .facultyDescription {
      margin-block: 2rem;
    }
  }
}
