@use 'tokens';
@use 'utilities/mixins';

:where(.wc-have-questions) {
  margin-block: 4rem;
  border-radius: tokens.$br-m;
  display: block;

  h2 {
    position: relative;
    z-index: tokens.$layer-3;
    width: fit-content;
    max-width: 30rem;
  }

  p {
    position: relative;
    z-index: tokens.$layer-3;
  }

  section {
    gap: clamp(tokens.$p-m, 2vw, tokens.$p-xxl);

    h3 {
      background: tokens.$c-darkGreen-800;
      color: tokens.$c-white;
      padding-block: 0.2em;
      padding-right: 0.2em;
      margin-bottom: 2em;
      width: fit-content;
      position: relative;

      @include mixins.extendedBackground('after', tokens.$c-darkGreen-800);

      &::after {
        left: initial;
        right: 100%;
        transform: initial;
      }
    }

    div[class*='column'] {
      flex: 1 1 50%;
    }
  }
}
