@use 'tokens';
@use 'utilities/mixins';

:where(.wc-have-questions) {
  margin-block: 4rem;
  border-radius: tokens.$br-m;
  display: block;

  h2 {
    position: relative;
    z-index: tokens.$layer-3;
    width: fit-content;
    max-width: 30rem;

    &::before {
      @include tokens.decoCircle;
      content: '';
      // background-image: url('/images/hand-drawn-circle.png');
      // background-repeat: no-repeat;
      // background-position: center;
      width: 150%;
      height: 250%;
      z-index: -1;
    }
  }

  p {
    position: relative;
    z-index: tokens.$layer-3;
  }

  section {
    gap: clamp(tokens.$p-m, 2vw, tokens.$p-xxl);

    h3 {
      background: tokens.$c-darkGreen-800;
      color: tokens.$c-white;
      padding-block: 0.2em;
      padding-right: 0.2em;
      position: relative;
      z-index: tokens.$layer-2;

      @include mixins.extendedBackground('after', tokens.$c-darkGreen-800);
    }

    div[class*='column'] {
      flex: 1 1 50%;
    }
  }
}
