@use 'tokens';
@use 'mixins';

.std-page {
  .testimonials {
    position: relative;
    margin-bottom: 4rem;

    & > div[class*='SectionTag'],
    & > div[class*='randomTestimonials'] {
      display: none;
    }
  }

  article[class*='singleQuote'] {
    position: relative;

    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      padding-block: 4em;

      p {
        font-size: tokens.$fs-s;
      }

      &::before {
        content: '"';
        position: absolute;
        top: 0;
        left: 2rem;
        height: 3rem;
        font-size: 10rem;
        line-height: 0.8;
        color: tokens.$c-sand-300;
      }

      &::after {
        content: '"';
        position: absolute;
        bottom: 0;
        right: 2rem;
        height: 3rem;
        font-size: 10rem;
        line-height: 0.8;
        color: tokens.$c-sand-300;
      }
    }
  }
}
