@use 'tokens';
@use 'utilities/mixins';

.stats-section {
  background: tokens.$c-gray-200;
  @include mixins.sectionPadding(block);
  position: relative;
  display: flex;

  @include mixins.extendedBackground('after', tokens.$c-lavender-800, 20);
  &::after {
    @media (min-width: tokens.$mq-800) {
      border-right: 4em solid tokens.$c-gray-200;
    }
  }

  & > div[class*='column'] {
    display: flex;
    flex: 1 0 calc(clamp(1em, 4vw, 4em) - 33%);

    .wc-stat-card {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 0.5em;
      padding: clamp(1em, 4vw, 4em);
      border-bottom: 1px solid tokens.$c-gray-500;

      @media (min-width: tokens.$mq-800) {
        padding-block: 0;
        padding-inline: clamp(1em, 4vw, 4em);
        border-bottom: none;
        border-right: 1px solid tokens.$c-gray-500;
      }

      p {
        line-height: 1.2;
        margin: 0;
      }
    }

    &:last-child {
      .wc-stat-card {
        border: none;
      }
    }
  }
}
