@use 'tokens';

// Whats Happening Block

.wc-news-events-section {
  .news-events-section {
    gap: clamp(2rem, 5vw, 4rem);

    & > [class*='_column'] {
      &:first-child {
        flex: 1 1 auto;
      }
      &:last-child {
        display: block;
        flex: 1 1 auto;
        max-width: 18rem;

        .eventsSection {
          display: flex;
          flex-direction: column;

          @media (min-width: tokens.$mq-800) {
            max-height: clamp(31.5rem, 50vw, 45rem);
          }

          @media (min-width: tokens.$mq-1200) {
            margin: 0;
            padding-top: 5.1em;
          }

          .sectionHead {
            padding: 0;

            .sectionTag {
              position: relative;
              transform: initial;
              writing-mode: initial;
            }
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          background: tokens.$c-gray-700;
          padding: 2em;
          overflow-y: auto;
          max-height: 100%;
          gap: 2em;

          li {
            color: white;

            time[class*='theTime'] {
              background: initial;
              color: tokens.$c-limeGreen-400;
              padding: 0;
            }

            .articleTitle {
              color: tokens.$c-white;
              h3 {
                font-size: tokens.$fs-xs;
                color: tokens.$c-white;
              }
            }

            .eventContentContainer {
              .eventDetails {
                i {
                  color: tokens.$c-teal-500;
                }

                & > div,
                address {
                  color: tokens.$c-white;
                }
              }
              a[class*='articleLink'] {
                color: tokens.$c-teal-300;
              }
            }
          }
        }
      }

      @media (max-width: tokens.$mq-1000) {
        max-width: 100%;
      }
    }
  }

  .sectionHead h2 {
    font-size: clamp(tokens.$fs-m, 5vw, tokens.$fs-l);
  }
}
