// @use "styles/theme.scss";
@use "tokens";
@use "utilities/mixins";

.headerWrapperSticky {
  flex: 1;
}

.topMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 999999;

  ul {
    display: none;
  }

  @media (min-width: tokens.$mq-900) {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: auto;
    left: auto;
    background: transparent;

    ul {
      display: flex;
    }
  }
}

.logo {
  text-align: left;
  padding-inline: 1rem;
  padding-block: clamp(0rem, 1vw, 0.5rem);
  border-left: tokens.$bw-l solid tokens.$c-limeGreen-500;

  svg {
    width: clamp(5rem, 10vw, 14rem);
    height: clamp(3rem, 7vw, 7rem);
  }
}

.skip {
  position: absolute;
  top: -200px;
  left: -200px;
  z-index: 9999;
  background: #fff;

  &:focus {
    top: 10px;
    left: 10px;
  }
}

.container {
  width: 100%;
  // max-width: 1680px;
  display: grid;
  grid-template-columns: clamp(5rem, 10vw, 14rem) 1fr;

  @media (min-width: tokens.$mq-900) {
    padding-right: clamp(2rem, 4vw, 4rem);
  }
}

.pageHeader {
  display: flex;
  position: relative;
  z-index: tokens.$layer-9999;
  background: tokens.$c-white;

  @media (max-width: tokens.$mq-900) {
    padding-right: 3.4em;
  }

  &Sticky {
    display: flex;
    margin-bottom: clamp(0rem, 2vw, 2rem);
    font-size: 1rem;
    z-index: tokens.$layer-9999;

    &.scrollUp {
      @media (max-width: tokens.$mq-900) {
        position: sticky;
        top: 0;
        @include mixins.drawerIn(top);

        & + div {
          nav {
            position: fixed;
            @include mixins.drawerIn(top);
          }
        }
      }
    }

    @media (min-width: tokens.$mq-900) {
      position: sticky;
      top: 0;

      @include mixins.drawerIn(top);
    }

    @media (min-width: tokens.$mq-1500) {
      margin-bottom: 4em;
    }

    .logo {
      text-align: left;
      padding-block: 0.5rem;
      // padding: 1rem 0 0 1rem;

      svg {
        width: 5rem;
        height: 3rem;
      }
    }

    .headerWrapperSticky {
      background: tokens.$c-white;
      border-bottom: tokens.$bw-xs solid tokens.$c-gray-400;

      @media (max-width: tokens.$mq-900) {
        padding-right: 3.4em;
      }
    }
  }
}
