// @use "styles/theme.scss";
@use 'tokens';
@use 'utilities/mixins';

.headerWrapperSticky {
  flex: 1;
}

.topMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // margin: 0 0 0 auto;
  // width: 100%;
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // background: white;
  z-index: 999999;

  ul {
    display: none;
  }

  @media (min-width: tokens.$mq-800) {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: auto;
    left: auto;
    background: transparent;

    ul {
      display: flex;
    }
  }
}

.logo {
  text-align: right;
  padding: 1rem 0 0 1rem;
  border-left: tokens.$bw-l solid tokens.$c-limeGreen-500;
  svg {
    width: clamp(5rem, 14vw, 14rem);
    height: clamp(3rem, 7vw, 7rem);
  }

  @media (min-width: tokens.$mq-800) {
    padding: 1rem 0 0 0;
  }
}

.skip {
  position: absolute;
  top: -200px;
  left: -200px;
  z-index: 9999;
  background: #fff;

  &:focus {
    top: 10px;
    left: 10px;
  }
}

.container {
  width: 100%;
  max-width: 1680px;
  display: grid;
  grid-template-columns: calc(tokens.$leftOffset - 2rem) 1fr;
  padding-right: 3.5em;

  @media (min-width: tokens.$mq-800) {
    padding-right: tokens.$rightOffset;
  }
}

.pageHeader {
  display: flex;
  position: relative;
  z-index: tokens.$layer-9999;

  &Sticky {
    display: flex;
    margin-bottom: clamp(0rem, 2vw, 2rem);
    font-size: 1rem;
    z-index: tokens.$layer-9999;

    &.scrollUp {
      @media (max-width: tokens.$mq-800) {
        position: sticky;
        top: 0;
        @include mixins.drawerIn(top);

        & + div {
          nav {
            position: fixed;
            @include mixins.drawerIn(top);
          }
        }
      }
    }

    @media (min-width: tokens.$mq-800) {
      position: sticky;
      top: 0;

      @include mixins.drawerIn(top);
    }

    @media (min-width: tokens.$mq-1500) {
      margin-bottom: 4em;
    }

    .logo {
      text-align: left;
      padding-block: 0.5rem;
      padding: 1rem 0 0 1rem;

      svg {
        width: 5rem;
        height: 3rem;
      }
    }

    .headerWrapperSticky {
      background: tokens.$c-white;
      border-bottom: tokens.$bw-xs solid tokens.$c-gray-400;
    }
  }
}
