// @use "styles/theme.scss";
@use "tokens";
@use "utilities/mixins";

.header-wrapper-sticky {
  width: 100%;
}

.svg {
  background-color: transparent;
}

.top-menu {
  display: none;
  align-items: center;
  margin: 0 0 0 auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: white;
  z-index: tokens.$layer-9999;

  @media (min-width: tokens.$mq-800) {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: auto;
    left: auto;
    background: transparent;
  }

  .search {
    display: flex;
    // width: 3rem;
    position: relative;
    border-radius: 0;
    background: none;
    border: none;
    // text-indent: -999em;
    align-items: center;
    // line-height: 0;
    // grid-column: 24;
    padding-inline: tokens.$p-l;
    padding-block: tokens.$p-m;
    border-left: 1px solid tokens.$c-gray-400;
    // cursor: pointer;

    @media (min-width: tokens.$mq-1200) {
      border-left: none;
      margin-left: clamp(10rem, 20vw, 17rem);
    }

    svg {
      font-size: 1.5em;
      line-height: 1.5;
      color: tokens.$c-copy;
      text-indent: 0;
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: tokens.$c-limeGreen-500;
      transition: all 0.2s;
    }

    // &:hover,
    // &:focus {
    //   color: tokens.$c-gray-800;
    //   &::after {
    //     height: 4px;
    //     background-color: tokens.$c-limeGreen-700;
    //   }

    //   svg {
    //     color: tokens.$c-darkGreen-800;
    //   }
    // }
  }
}

.logo {
  text-align: right;
  padding: 1rem 0 0 1rem;
  border-left: tokens.$bw-l solid tokens.$c-limeGreen-500;
  svg {
    width: clamp(5rem, 14vw, 14rem);
    height: clamp(3rem, 7vw, 7rem);
  }

  @media (min-width: tokens.$mq-800) {
    padding: 1rem 0 0 0;
  }
}

.skip {
  position: absolute;
  top: -200px;
  left: -200px;
  z-index: 9999;
  background: #fff;

  &:focus {
    top: 10px;
    left: 10px;
  }
}

.container {
  width: 100%;
  max-width: 1680px;
  display: grid;
  grid-template-columns: calc(tokens.$leftOffset - 2rem) 1fr;
  padding-right: tokens.$rightOffset;
}

.page-header {
  display: flex;

  &-sticky {
    display: flex;
    position: sticky;
    // @include tokens.fluidRem(margin-bottom, 0, 2rem);
    margin-bottom: clamp(0rem, 2vw, 2rem);
    font-size: 1rem;
    top: 0;
    @include mixins.drawerIn(top);
    z-index: tokens.$layer-9999;

    @media (min-width: tokens.$mq-1500) {
      margin-bottom: 4em;
    }

    .logo {
      text-align: left;
      padding-block: 0.5rem;
      padding: 1rem 0 0 1rem;

      svg {
        width: 5rem;
        height: 3rem;
      }
    }

    .header-wrapper-sticky {
      background: tokens.$c-white;
      border-bottom: tokens.$bw-xs solid tokens.$c-gray-400;
    }
  }
}
