@use "sass:color";
@use "../../../styles/config";

.program-card {
  display: block;
  a {
    position: relative;
    text-decoration: none;
    transform: translateY(0);
    transition: all 0.3s ease-out;

    & > div {
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid rgba(255, 255, 255, 0);
        z-index: config.$layer-1;
        transition: all 0.3s ease-out;
      }

      &::after {
        content: "+";
        display: block;
        position: absolute;
        font-size: config.$fontSize-s;
        font-weight: bold;
        line-height: 1;
        bottom: 0.5em;
        right: 0.5em;
        padding: 0.5em 0.7em;
        background: config.$c-limeGreen-600;
        border-radius: config.$borderRadius-xs;
        color: config.$c-white;
        z-index: config.$layer-2;
        transition: all 0.2s ease-out;
      }
    }

    &:hover,
    &:focus {
      display: block;
      text-decoration: underline;

      & > div {
        &::before {
          border: 1em solid rgba(255, 255, 255, 0.5);
        }
        &::after {
          bottom: 2em;
        }
      }
    }
  }

  h3 {
    color: config.$c-copy;
    padding-top: 0.25em;
  }

  p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: config.$c-copy;
  }
}
