@use "tokens";
@use "sass:color";

.footer {
  padding-right: tokens.$rightOffset;

  .footerContent {
    background: color.adjust(tokens.$c-darkGreen-800, $lightness: -3%);
    color: tokens.$c-white;

    .navAddrSocial {
      display: flex;
      flex-direction: column;
      align-items: self-start;
      gap: 2em;
      background: tokens.$c-darkGreen-800;
      padding: clamp(1em, 4vw, 4em);
      padding-left: tokens.$leftOffset;

      @media (min-width: tokens.$mq-800) {
        flex-direction: row;
        justify-content: space-between;
      }

      .schoolInfo {
        display: flex;
        flex-direction: column;
        gap: 1em;

        svg {
          fill: tokens.$c-white;
          width: 8rem;
          height: 4.5rem;
        }
        address {
          color: tokens.$c-limeGreen-500;
          font-size: clamp(0.9rem, 1.5vw, 1.5rem);
          line-height: 1.2;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 1em;
          list-style: none;
          li {
            a {
              display: flex;
              align-items: center;
              gap: 0.5em;
              font-size: clamp(0.9rem, 1.2vw, 1.2rem);
              color: tokens.$c-white;
              text-decoration: none;

              span {
                text-decoration: underline;
              }

              &::before {
                content: tokens.$i-phone;
                font-family: tokens.$f-icons;
                color: tokens.$c-limeGreen-600;
              }

              &:hover {
                color: tokens.$c-limeGreen-300;

                &::before {
                  color: tokens.$c-white;
                }

                span {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }

      .socialFooter {
        // background: tokens.$c-darkGreen-800;
      }

      h3 {
        color: tokens.$c-limeGreen-500;
        font-weight: 600;
        font-size: clamp(1.2rem, 1.5vw, 1.5rem);
      }
    }
  }

  .legal {
    padding: 1em;

    @media (min-width: tokens.$mq-800) {
      padding-inline: clamp(2em, 20vw, 20rem);
    }

    small {
      display: block;
      font-style: normal;
      text-align: center;
      font-size: tokens.$fs-3xs;
    }

    .copyright {
      font-weight: 600;
      font-style: normal;
    }
  }
}
