@use 'layers';
@use 'breakpoints';

@mixin decoPlusSign {
  content: '';
  display: block;
  width: clamp(10rem, 50vw, 20rem);
  height: clamp(10rem, 50vw, 20rem);
  background-image: url("data:image/svg+xml,%3Csvg width='330' height='330' viewBox='0 0 330 330' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M137 330V0H193V330H137ZM0 193V137H330V193H0Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  @media (min-width: breakpoints.$mq-800) {
    width: 20rem;
    height: 20rem;
  }
}

@mixin decoPlusSignCut {
  content: '';
  display: block;
  width: clamp(10rem, 50vw, 20rem);
  height: clamp(5rem, 30vw, 11.5rem);
  background-image: url("data:image/svg+xml,%3Csvg width='331' height='193' viewBox='0 0 330 193' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-5.98846e-06 137L331 137L331 193L-8.4363e-06 193L-5.98846e-06 137ZM137.415 -8.46186e-06L193.585 -6.00661e-06L193.585 193L137.415 193L137.415 -8.46186e-06Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: initial;
  right: 0;
  left: initial;
  bottom: 0;
  right: 0;
  z-index: layers.$layer-2;
  transform: translateX(50%) translateY(15%);

  @media (min-width: breakpoints.$mq-800) {
    width: 20rem;
    height: 11.5rem;
  }
}

@mixin decoCircle {
  content: '';
  display: block;
  width: clamp(10rem, 30vw, 27rem);
  height: clamp(4rem, 10vw, 8.2rem);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='432' height='131' viewBox='0 0 432 131' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M313.076 19.578C334 22.1985 350.632 27.9938 367.264 34.2853C421.812 54.9385 440.06 79.9669 402.689 98.7168C344.576 127.776 209.203 136.508 104.225 114.781C80.9762 109.98 49.501 104.588 26.4288 90.7066C4.96632 77.7983 5.8576 65.2437 15.6908 54.5726C25.7027 43.6242 45.0143 34.6148 60.3924 29.1368C127.627 5.25126 262.282 -8.68423 384.072 19.0368C386.575 19.5876 389.079 19.3602 389.794 18.5427C390.51 17.7253 389.256 16.6353 386.932 16.1035C261.565 -12.4285 122.618 1.65823 53.4167 26.2391C34.2835 33.0742 9.25149 45.2142 2.10162 59.7565C-2.72451 69.7022 0.67508 80.7496 19.2759 92.0132C43.779 106.792 77.2218 112.714 101.901 117.818C210.277 140.254 350.298 131.34 410.199 101.315C450.431 81.169 431.112 54.2754 372.451 32.0729C354.566 25.2637 336.323 19.0848 313.611 16.2413C311.108 15.9284 308.963 16.4227 308.963 17.3593C308.784 18.2769 310.751 19.284 313.076 19.578Z' fill='%23A2DA54'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin listItemCleanUp {
  padding: 0;
  margin: 0;

  &::before,
  &::after {
    display: none;
  }
}
