@use 'breakpoints';

@mixin decoPlusSign {
  content: '';
  display: block;
  width: clamp(10rem, 50vw, 20rem);
  height: clamp(10rem, 50vw, 20rem);
  background-image: url("data:image/svg+xml,%3Csvg width='330' height='330' viewBox='0 0 330 330' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M137 330V0H193V330H137ZM0 193V137H330V193H0Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  @media (min-width: breakpoints.$mq-800) {
    width: 20rem;
    height: 20rem;
  }
}

@mixin decoPlusSignCut {
  content: '';
  display: block;
  width: clamp(10rem, 50vw, 20rem);
  height: clamp(10rem, 50vw, 11.5rem);
  background-image: url("data:image/svg+xml,%3Csvg width='331' height='193' viewBox='0 0 330 193' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-5.98846e-06 137L331 137L331 193L-8.4363e-06 193L-5.98846e-06 137ZM137.415 -8.46186e-06L193.585 -6.00661e-06L193.585 193L137.415 193L137.415 -8.46186e-06Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  @media (min-width: breakpoints.$mq-800) {
    width: 20rem;
    height: 11.5rem;
  }
}
