@use 'breakpoints';

@mixin plusSign {
  content: '';
  display: block;
  width: clamp(10rem, 50vw, 20rem);
  height: clamp(10rem, 50vw, 20rem);
  background: url(../../../../assets/deco-plus-sign.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  @media (min-width: breakpoints.$mq-800) {
    width: 20rem;
    height: 20rem;
  }
}
