// ================
// Fonts

@use "config";

// Use the below for Adobe Fonts/Google Fonts. Replace the URL with the font(s) you're planning to use.
// @import url("https://fontfamily.example.com");

//* Fonts
@font-face {
  font-family: "icomoon";
  src: url("../../assets/icomoon.woff");
}

//* Font Stacks
$f-headlineFont: "Roboto Slab", serif;
$f-bodyFont: "Cantarell", sans-serif;
$f-icons: "icomoon";

//* Font Sizes = If you're using a base unit, you can use the calc() function to calculate the font size. Otherwise, you can just use the font size you want. If $baseUnit is 16px, then $fontSize-xxxl is 72px

$fs-3xl: calc(config.$baseUnit * 3.5); // 56px
$fs-2xl: calc(config.$baseUnit * 3); // 48px
$fs-xl: calc(config.$baseUnit * 2.5); // 40px
$fs-l: calc(config.$baseUnit * 2);
$fs-m: calc(config.$baseUnit * 1.5);
$fs-s: calc(config.$baseUnit * 1.25);
$fs-xs: calc(config.$baseUnit * 1);
$fs-2xs: calc(config.$baseUnit * 0.85);
$fs-3xs: calc(config.$baseUnit * 0.75);

$fw-bold: 700;
$fw-normal: 400;
$fw-light: 300;

//? Title Colors
//? Paragraph Colors
