//* Transition
$transition: 0.25s ease-in-out;

//* Transition Delay
$transition-delay: 0.25s;

//* Transition Duration
$transition-duration: 0.25s;

//* Transition Timing Function
$transition-timing-function: ease-in-out;

//* Transition Property
$transition-property: all;

//* Animations
$anim-bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
