//* Transition
$transition: 0.25s ease-in-out;

//* Transition Delay
$transition-delay: 0.25s;

//* Transition Duration
$transition-duration: 0.25s;

//* Transition Timing Function
$transition-timing-function: ease-in-out;

//* Transition Property
$transition-property: all;
