@use 'tokens';
@use 'utilities/mixins';

section:where(.columns, .column) {
  display: flex;

  &.columnStacked {
    @media (max-width: tokens.$mq-800) {
      flex-direction: column;

      & > div {
        flex: 1 1 auto;
        min-width: 100%;
      }

      & > div[class*='media-element'] {
        order: 0;
      }
      & > div[class*='copy-block-element'] {
        order: 1;
      }
    }

    @media (max-width: tokens.$mq-1100) {
      & > div {
        max-width: 50%;
      }
    }
  }

  &.columns-2 {
  }

  &.columns-3 {
  }

  // &.alignCenter {
  //   & .column {
  //     background: yellow;
  //   }
  // }

  // &.alignBottom {
  //   & .column {
  //     background: green;
  //   }
  // }

  // &.hasBackground {
  //   padding: 8px;
  //   border: 5px solid red;
  // }

  & .column {
    &.hasBackground {
      padding: 8px;
      border: 5px solid blue;
    }

    &[style*='100%'] {
      max-width: 100%;
    }
  }
}

.bgWhite {
  background: tokens.$c-white;

  @include mixins.extendedBackground('after', tokens.$c-white);
}
