@use "tokens";
@use "utilities/mixins";

section:where(.columns, .column) {
  display: flex;

  &.columnStacked {
    @media (max-width: tokens.$mq-800) {
      flex-direction: column;
    }
  }

  &.alignCenter {
    & .column {
      background: yellow;
    }
  }

  &.alignBottom {
    & .column {
      background: green;
    }
  }

  &.hasBackground {
    padding: 8px;
    border: 5px solid red;
  }

  & .column {
    &.hasBackground {
      padding: 8px;
      border: 5px solid blue;
    }
  }
}

.off-white {
  background: tokens.$c-gray-300;

  &::before {
    @include mixins.extendedBackground(tokens.$c-gray-300);
  }
}
