@use 'tokens';

.buttonGroup {
  display: flex;
  flex-flow: row wrap;
  margin: 2em 0;
  gap: 1em;

  &.horizontal {
    flex-flow: row wrap;
  }

  &.vertical {
    flex-direction: column;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }

  // button {
  // }
}
