@use "sass:color";
@use "tokens";
@use "utilities/mixins";

.newsSection {
  @include mixins.sectionPadding(block);

  &.atHomePage {
    background: tokens.$c-darkGreen-700;
    @include mixins.extendedBackground("before", tokens.$c-darkGreen-700);

    .sectionHead {
      h2 {
        color: tokens.$c-white;
      }

      &::after {
        background: tokens.$c-gray-200;
        opacity: 0.2;
      }
    }

    .newsContainer {
      li.react-multi-carousel-item {
        border-left: rgba(white, 0.1) 1px solid;

        time {
          color: tokens.$c-limeGreen-300;
          border-left: 0.2em solid tokens.$c-darkGreen-800;
        }
      }
    }

    .articleTitle,
    .articleTitle h3 {
      color: tokens.$c-white;
    }

    .articleExcerpt {
      p {
        color: tokens.$c-white;
        font-size: 1rem;
        line-height: normal;
      }
    }
  }

  .sectionHead {
    display: flex;
    flex-direction: column;
    gap: tokens.$m-xl;
    align-items: flex-start;
    position: relative;
    z-index: tokens.$layer-2;

    .sectionTag {
      @include mixins.sectionTag();
      position: relative;
    }

    h2 {
      // color: tokens.$c-white;
    }

    &::after {
      content: "";
      display: block;
      width: 150vw;
      height: 1px;
      position: absolute;
      background: tokens.$c-gray-400;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .newsContainer {
    position: relative;
    z-index: tokens.$layer-2;

    li.react-multi-carousel-item {
      border-left: tokens.$c-gray-400 1px solid;
    }

    article {
      padding-block: tokens.$p-xl;
      padding-inline: clamp(tokens.$p-l, 2vw, tokens.$p-xl);
    }
  }

  .react-multi-carousel-list {
    padding-bottom: 5rem;

    & + a[class*="button"] {
      position: absolute;
      bottom: 0;
    }
  }
}
