@use 'tokens';
@use 'utilities/mixins';

// News and Events Landing Page

.news-and-events {
  @include mixins.sectionPadding(block);

  .pageHead {
    h1 {
      margin-bottom: 0.5em;
    }
  }

  // =====================
  // News Section

  .newsGroup {
    margin-bottom: 4rem;

    .newsSectionHead {
      border-bottom: 2px solid tokens.$c-darkGreen-800;
      margin-bottom: 2rem;

      h2 {
        margin-bottom: 0.1em;
      }
    }

    .group {
      // display: flex;
      // flex-flow: row wrap;
      // gap: clamp(1rem, 2vw, 2rem);

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      gap: clamp(1rem, 2vw, 2rem);

      article {
        flex: 1 1 18rem;
        padding: clamp(1rem, 2vw, 2rem);
        background: tokens.$c-gray-300;

        figure {
          height: clamp(6rem, 10vw, 10rem);
          margin-bottom: 1rem;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        // max-width: 18rem;

        // highlightedpost is a featured post that is larger than the rest and spans all columns in the grid
        &.highlightedPost {
          grid-column: 1 / -1;
          background: none;
          display: flex;
          flex-direction: column;
          gap: clamp(2rem, 5vw, 4rem);
          padding-inline: 0;
          border-bottom: 1px solid tokens.$c-gray-400;

          @media (min-width: tokens.$mq-800) {
            flex-direction: row;

            figure {
              flex: 1 1 50%;
              margin: 0;
              height: auto;
            }

            .newsContentContainer {
              flex: 1 1 50%;

              h3 {
                font-size: clamp(tokens.$fs-l, 4vw, tokens.$fs-xl);
              }
            }
          }
        }
      }
    }
  }

  // =====================
  // Events Section

  .eventsGroup {
    .eventsSectionHead {
      border-bottom: 2px solid tokens.$c-darkGreen-800;
      margin-bottom: 2rem;

      h2 {
        margin-bottom: 0.1em;
      }
    }

    .group {
      display: flex;
      flex-flow: row wrap;
      gap: clamp(1rem, 2vw, 2rem);

      article {
        flex: 1 1 18rem;
        padding: clamp(1rem, 2vw, 2rem);
        background: tokens.$c-gray-700;

        h3 {
          color: tokens.$c-white;
        }

        a {
          color: tokens.$c-teal-300;
        }
      }
    }
  }
}
