@use 'tokens';
@use 'utilities/mixins';

.featuredPrograms {
  position: relative;
  @include mixins.sectionPadding('inline');

  @media (min-width: tokens.$mq-800) {
    padding: 0;
  }

  .carouselContainer {
    overflow: visible;

    ul {
      padding-bottom: 2em;

      li {
        filter: saturate(0);
        transition: all 0.3s ease-out;
        // padding: clamp(tokens.$p-m, 2vw, tokens.$p-xl);
        padding: tokens.$p-l;
      }

      &:hover {
        li {
          filter: saturate(0);
          transition: all 0.3s ease-out;
        }
      }
      li:hover {
        filter: saturate(100%);
      }
    }
  }
}

.viewAllCta {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  gap: 2rem;
  width: calc(100% - 9rem);

  a {
    flex-shrink: 0;
  }

  @media (min-width: tokens.$mq-800) {
    &::after {
      content: '';
      display: block;
      width: 100%;
      border-top: 1px solid tokens.$c-limeGreen-700;
      flex-shrink: 1;
      margin-right: 0;
    }
  }
}
