@use "tokens";
@use "utilities/mixins";

.featuredPrograms {
  position: relative;
  // @include mixins.sectionPadding("inline");
  padding-inline: clamp(3rem, 5vw, 5rem);
  padding-bottom: 2em;
  width: calc(100vw - 3rem);
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: clamp(4rem, 3vw, 5rem);
    height: 120%;
    background: tokens.$c-white;
    z-index: tokens.$layer-1;

    @media (min-width: tokens.$mq-1100) {
      width: 6.8rem;
    }
  }

  &::before {
    left: -0.5rem;
  }

  &::after {
    right: -0.5rem;
  }

  @media (min-width: tokens.$mq-800) {
    width: calc(100vw - 6rem);
  }

  @media (min-width: tokens.$mq-1100) {
    padding-inline: 5rem;
    left: calc(50% - 3rem);
  }

  .carouselContainer {
    overflow: visible;
    padding: 0;

    ul {
      padding-bottom: 2em;

      li {
        transition: all 0.3s ease-out;
        padding: tokens.$p-l;
        // filter: saturate(0);
        // padding: clamp(tokens.$p-m, 2vw, tokens.$p-xl);
      }

      &:hover {
        li {
          filter: saturate(100%);
          transition: all 0.3s ease-out;
        }
      }
      li:hover {
        filter: saturate(0);
      }
    }

    button[class*="arrow"] {
      height: 3.5rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: tokens.$layer-2;
      background: none;
      box-shadow: none;
      border: none;

      &::before {
        border-color: tokens.$c-gray-500;
        border-width: 0.7em;
        width: 2.7em;
        height: 2.7em;
        transition: all 0.2s ease-in-out;
      }

      &[class*="-left"] {
        left: -3rem;
        right: initial;
      }

      &[class*="-right"] {
        right: -3rem;
        left: initial;
      }

      &:hover {
        border: none;
        &::before {
          border-color: tokens.$c-darkGreen-700;
        }

        @media (min-width: tokens.$mq-800) {
          &[class*="-left"] {
            left: -3.4rem;
          }

          &[class*="-right"] {
            right: -3.4rem;
          }
        }
      }
    }
  }
}

.viewAllCta {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  gap: 2rem;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: tokens.$layer-2;

  @media (min-width: tokens.$mq-800) {
    width: calc(100% - 9rem);
  }
  a {
    flex-shrink: 0;
  }

  &::before {
    content: "";
    display: block;
    width: clamp(17rem, 20vw, 20rem);
    height: 3rem;
    background: tokens.$c-white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: tokens.$layer-1;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    border-top: 1px solid tokens.$c-limeGreen-700;
    flex-shrink: 1;
    margin-right: 0;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
