@use "tokens";

.singleQuote {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media (min-width: tokens.$mq-800) {
    flex-direction: row;
  }

  .blockQuote {
    width: 100%;
    // height: 70vw;
    height: clamp(15rem, 22vw, 22rem);
    max-height: 30rem;
    flex-shrink: 0;
    overflow: hidden;
    border: 0.5em solid tokens.$c-white;

    @media (min-width: tokens.$mq-1400) {
      min-height: 20rem;
      height: auto;
    }

    & > figure {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}

.quoteText {
  padding: tokens.$p-xxl;

  p {
    font-size: tokens.$fs-2xs;
  }
}

.quoteContent {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.featuredTestimonial {
  margin-top: 3rem;

  @media (min-width: tokens.$mq-800) {
    margin: 0;
    .blockQuote {
      width: 50%;
    }
  }
}
