@use "tokens";

.singleQuote {
  display: flex;
  overflow: hidden;

  figure {
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;

    @media (min-width: tokens.$mq-1400) {
      min-width: 20rem;
      min-height: 20rem;
    }
  }
}

.quoteText {
  padding: tokens.$p-xxl;
}

.quoteContent {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.featuredTestimonial {
  figure {
    width: 50%;
    border-left: 3rem solid tokens.$c-white;
    border-top: 3rem solid tokens.$c-white;
  }
}
