.loadMoreContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.loadMoreTrigger {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 0.75rem 2rem;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
