@use 'tokens';

.facultyList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;
  gap: clamp(2rem, 5vw, 4rem);
  margin-inline: auto;
  margin-bottom: 4rem;

  @media (min-width: tokens.$mq-500) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
  }

  @media (min-width: tokens.$mq-1000) {
    grid-template-columns: repeat(4, 1fr);
  }

  & > div[class*='_facultyCard'] {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid tokens.$c-gray-400;

    figure {
      min-height: clamp(12rem, 30vw, 20rem);

      // @media (min-width: tokens.$mq-1000) {
      //   min-height: 20rem;
      // }
    }

    [class*='facultyContent'] {
      flex: 1 0 auto;
    }
  }
}
