@use "tokens";
@use "utilities/mixins";

.inner-wrap {
  position: relative;
  @include mixins.sectionPadding;
  padding-top: 0;

  @media (min-width: tokens.$mq-800) {
    // margin-top: 4em;
    padding: 0;
  }

  // :where(section[class*='columns']:nth-child(even)) {
  //   background: tokens.$c-gray-300;
  //   position: relative;

  //   @include mixins.extendedBackground('after', tokens.$c-gray-300);
  // }
}

section {
  margin-block: 4rem;
}

// Alignments
%center,
.center {
  @include mixins.center();
}

#virtualtour_content {
  iframe {
    height: 100%;
  }
}

section section {
  margin-block: 0;
}

// Main Nav fix
header.scrolled {
  & + div {
    nav {
      & > div {
        position: fixed !important;
      }
    }
  }
}
