// =======================
// Homepage Layout

@use 'tokens';
@use 'utilities/mixins';

// =======================
// Intro Home

.intro-home-page {
  .intro-content {
    margin-top: -4rem;
    @include mixins.sectionPadding;

    background: tokens.$c-white;
    z-index: tokens.$layer-10;
    position: relative;
  }

  @media (min-width: tokens.$mq-800) {
    margin-top: -4rem;
  }

  @media (min-width: tokens.$mq-1200) {
    padding-right: 20rem;
  }
}

// =======================
// News Section Home

.front-page {
  section[class*='newsSection'] {
    @media (min-width: tokens.$mq-1200) {
      flex-direction: column;
      gap: tokens.$m-xl;
      align-items: flex-start;
      width: 20rem;
      position: absolute;
      top: 10em;
      right: 0;
    }

    ul.react-multi-carousel-track {
      li {
        &::after {
          @media (min-width: tokens.$mq-1200) {
            width: 100%;
            height: 4px;
            background: url(../../assets/divider-draw-line-horizontal.svg)
              no-repeat center;
            background-size: auto 100%;
            position: absolute;
            top: initial;
            right: initial;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

      @media (min-width: tokens.$mq-1200) {
        flex: 1 1 auto;
        flex-direction: column;
        gap: tokens.$m-xl;

        li {
          min-width: 100%;
          padding: 0;
        }
      }
    }
  }
}

// =======================
// Testimonials Section Home

.testimonial-home {
  padding-top: 8rem;
  position: relative;
  flex-direction: column;
  background: none;

  @media (min-width: tokens.$mq-1200) {
    @include tokens.grid-24();
    padding-block: 4rem;

    &::before {
      top: 6rem;
      left: 0rem;
    }
    &::after {
      top: 12rem;
      left: 0.4rem;
    }
  }

  .two-third-column {
    display: block;
    width: 100%;
    grid-column: 1 / span 11;
    max-width: 100%;
    @media (min-width: tokens.$mq-1200) {
      padding-right: tokens.$p-3xl;
      align-self: end;
    }
  }

  .one-third-column {
    display: block;
    width: 100%;
    grid-column: 12 / span 13;
    max-width: 100%;
  }
}

// =======================
// Two Columns Highlight

[class*='two-columns-highlight'] {
  position: relative;
  padding-block: 0;
  // overflow-y: hidden;

  .media-element {
    display: flex;
    position: relative;

    div[class*='image'] {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: tokens.$layer-1;
      }

      &::after {
        @include tokens.decoPlusSignCut;
      }
    }

    &.right-column {
      div[class*='image'] {
        &::after {
          right: initial;
          left: 0rem;
          transform: translateX(-50%) translateY(15%);
        }
      }
    }
  }
}

.left-column {
}

.media-element {
}

.right-column {
}

.copy-block-element {
  padding: clamp(1em, 5vw, 3rem);
}
