// =======================
// Homepage Layout

@use 'tokens';
@use 'utilities/mixins';

// =======================
// Intro Home

.intro-home-page {
  margin-top: clamp(-2rem, -2vw, -1rem);
  .intro-content {
    margin-top: clamp(-4rem, -4vw, -2rem);
    @include mixins.sectionPadding;

    background: tokens.$c-white;
    z-index: tokens.$layer-10;
    position: relative;
  }
}

// =======================
// Testimonials Section Home

.testimonial-home {
  padding-top: 8rem;
  position: relative;
  flex-direction: column;
  background: none;

  @media (min-width: tokens.$mq-1200) {
    @include tokens.grid-24();
    padding-block: 4rem;

    &::before {
      top: 6rem;
      left: 0rem;
    }
    &::after {
      top: 12rem;
      left: 0.4rem;
    }
  }

  .two-third-column {
    display: block;
    width: 100%;
    grid-column: 1 / span 11;
    max-width: 100%;
    @media (min-width: tokens.$mq-1200) {
      padding-right: tokens.$p-3xl;
      align-self: end;
    }
  }

  .one-third-column {
    display: block;
    width: 100%;
    grid-column: 12 / span 13;
    max-width: 100%;
  }
}

.left-column {
}

.media-element {
}

.right-column {
}

.copy-block-element {
  padding: clamp(1em, 5vw, 3rem);
}
