@use '../../../styles/tokens';
@use '../../../styles/utilities/mixins';
@use 'sass:color';

.homeHero {
  position: relative;
  z-index: tokens.$layer-1;
  min-height: 39rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: clamp(-2rem, -2vw, -1rem);
}

.heroIntroContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  position: relative;
  z-index: tokens.$layer-2;

  @media (min-width: tokens.$mq-800) {
    flex-direction: row;
    gap: 15vw;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 0;
    margin-top: 0;
    transform: translateY(-50%);
  }

  .introCopy {
    text-align: center;

    @media (min-width: tokens.$mq-800) {
      text-align: left;
    }

    h1 {
      color: tokens.$c-white;
      font-weight: 700;
      font-size: clamp(tokens.$fs-2xl, 5vw, tokens.$fs-4xl * 0.9);
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
      line-height: 0.9;

      strong {
        font-weight: 100;
        font-size: 0.6em;
        line-height: 1.2;
      }
    }

    .description {
      display: block;
      background: tokens.$c-darkGreen-800;
      color: tokens.$c-white;
      padding: tokens.$p-l tokens.$p-m;
      border-left: 0.5em solid tokens.$c-limeGreen-500;
      font-size: clamp(tokens.$fs-xs, 2vw, tokens.$fs-s);

      @media (min-width: tokens.$mq-800) {
        background: rgba(tokens.$c-darkGreen-800, 0.9);
      }

      a {
        color: tokens.$c-teal-500;
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .modalButtonWrapper {
      margin-top: 2rem;

      :global(.modal-button) {
        display: inline-flex;
        padding: 1rem 2rem;
        background-color: tokens.$c-darkGreen-800;
        color: tokens.$c-white;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: color.adjust(
            tokens.$c-darkGreen-800,
            $lightness: -10%
          );
        }

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

.ctasRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  gap: 1.2rem;
  flex: 0 1 16rem;
  margin: 0 auto;
  list-style: none;
  position: relative;
  padding-block: tokens.$p-l;
  padding-inline: 0;
  min-width: 16rem;

  li {
    width: 100%;
    a {
      display: flex;
      text-align: center;
      align-items: center;
      line-height: 1;
      gap: tokens.$p-m;
      background: tokens.$c-limeGreen-200;
      font-size: clamp(tokens.$fs-2xs, 1.5vw, tokens.$fs-xs);
      color: tokens.$c-copy;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      width: 100%;
      border-radius: 0.3em;
      overflow: hidden;
      border: 1px solid tokens.$c-limeGreen-600;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      cursor: pointer;

      figure {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3.5rem;
        padding: 0.5em;
        background: tokens.$c-limeGreen-600;

        svg {
          color: tokens.$c-white;
          fill: tokens.$c-white;
          font-size: clamp(tokens.$fs-xs, 7vw, tokens.$fs-xl);
        }
      }

      &.secondary {
        background: tokens.$c-white;
      }

      &:hover,
      &:active {
        background: tokens.$c-limeGreen-600;
        color: tokens.$c-white;
        border-color: tokens.$c-limeGreen-600;
      }
    }
  }
}
