@use 'tokens';
@use 'utilities/mixins';

.homeHero {
  position: relative;
  z-index: tokens.$layer-1;
}

.heroImage {
  position: relative;
  z-index: tokens.$layer-1;
  height: clamp(20rem, 45vw, 45rem);
  width: 103vw;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: tokens.$mq-800) {
    height: 80vh;
  }

  img {
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: '';
    display: block;
    background: rgba(#001411, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.heroIntroContent {
  display: flex;
  flex-direction: column;
  gap: 15vw;
  width: 100%;
  position: absolute;
  z-index: tokens.$layer-2;
  top: 60%;
  left: 0;
  transform: translateY(-50%);

  @media (min-width: tokens.$mq-800) {
    flex-direction: row;
  }

  h1 {
    color: tokens.$c-white;
    font-weight: 700;
    font-size: clamp(tokens.$fs-2xl, 5vw, tokens.$fs-4xl);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

    strong {
      font-weight: 100;
      font-size: 0.6em;
    }
  }

  p {
    display: block;
    background: rgba(tokens.$c-darkGreen-800, 0.9);
    color: tokens.$c-white;
    padding: tokens.$p-m;
    border-left: 0.5em solid tokens.$c-limeGreen-500;
    font-size: clamp(tokens.$fs-xs, 2vw, tokens.$fs-s);
  }
}

.ctasRow {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1 0 18rem;
  // width: 18rem;
  margin: 0;
  list-style: none;
  position: relative;
  padding-block: tokens.$p-l;
  padding-inline: 0;

  li {
    a {
      display: flex;
      text-align: center;
      align-items: center;
      line-height: 1;
      gap: tokens.$p-m;
      background: tokens.$c-limeGreen-300;
      font-size: clamp(tokens.$fs-2xs, 1.5vw, tokens.$fs-xs);
      color: tokens.$c-copy;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      width: 100%;
      border-radius: 0.3em;
      overflow: hidden;
      border: 1px solid tokens.$c-limeGreen-200;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      // padding-inline: clamp(tokens.$p-m, 3vw, tokens.$p-xl);

      // @media (min-width: tokens.$mq-1400) {
      //   padding-inline: clamp(tokens.$p-xs, 1vw, tokens.$p-s);
      // }

      figure {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        padding: 0.5em;
        background: tokens.$c-limeGreen-700;

        svg {
          color: tokens.$c-white;
          font-size: clamp(tokens.$fs-xs, 7vw, tokens.$fs-xl);
        }
      }
    }
  }
}
