@use 'sass:color';
@use 'tokens';

.programCard {
  display: block;

  a {
    position: relative;
    text-decoration: none;
    transform: translateY(0);
    transition: all 0.3s ease-out;
    color: tokens.$c-copy;

    .image {
      display: block;
      position: relative;
      width: 100%;
      overflow: hidden;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid rgba(255, 255, 255, 0);
        z-index: tokens.$layer-1;
        box-sizing: border-box;
        transition: all 0.3s ease-out;
      }

      &::after {
        content: '+';
        display: block;
        position: absolute;
        font-size: tokens.$fs-s;
        font-weight: bold;
        line-height: 1;
        bottom: 0.8em;
        right: 0.5em;
        padding: 0.5em 0.7em;
        background: tokens.$c-limeGreen-600;
        border-radius: tokens.$br-xs;
        color: tokens.$c-white;
        z-index: tokens.$layer-2;
        transition: all 0.2s ease-out;
      }

      img {
        width: 100%;
        height: clamp(14em, 18vw, 18em);
        object-fit: cover;
        object-position: center;
        transition: all 0.2s tokens.$anim-bounce;
      }
    }

    &:hover,
    &:focus {
      text-decoration: underline;

      & > div {
        &::before {
          border: 1em solid rgba(255, 255, 255, 0.5);
        }
        &::after {
          bottom: 1.5em;
        }
      }

      figure {
        overflow: hidden;
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  h3 {
    color: tokens.$c-copy;
    padding-top: 0.25em;
  }

  p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: tokens.$c-copy;
    font-size: tokens.$fs-xs;
  }
}
