@use "sass:color";
@use "tokens";

.dropdown {
  display: none;
}
.showMenu {
  display: block;
}

.closedMenu {
  ul {
    display: none;
  }
}

.openedSubMenu {
  display: block;
}

.closedSubMenu {
  display: none;
}

.menuItems {
  padding: 0 0;
}

.navContainer {
  position: absolute;
  top: 0;
  right: 0;
  z-index: tokens.$layer-9999;

  @media (min-width: tokens.$mq-900) {
    border-left: tokens.$bw-l solid tokens.$c-darkGreen-800;
    background: tokens.$c-white;
    width: 3.75rem;
    position: relative;
    top: initial;
    right: initial;
    z-index: tokens.$layer-10;
  }

  .navWrapper {
    position: sticky;
    top: 0;
    z-index: tokens.$layer-2;

    .hamburger {
      display: flex;
      align-items: center;
      height: 4rem;
      background: none;
      border: none;
      font-size: tokens.$fs-m;
      padding-inline: 0.85rem;
      padding-block: tokens.$p-s;
      cursor: pointer;
      position: relative;
      border-right: 1px solid tokens.$c-gray-400;

      @media (min-width: tokens.$mq-900) {
        gap: 0.3em;
        flex-direction: column;
        height: auto;
      }

      span {
        display: none;

        @media (min-width: tokens.$mq-900) {
          display: block;
          font-size: tokens.$fs-xs;
          text-transform: uppercase;
          writing-mode: vertical-rl;
          transform: rotate(180deg);
        }
      }

      svg,
      span {
        position: relative;
        z-index: tokens.$layer-2;
        color: tokens.$c-gray-700;
      }

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: tokens.$c-gray-200;
        z-index: tokens.$layer-1;
        transition: all 0.2s ease-in-out;
      }

      &:hover,
      &:active {
        svg,
        span {
          color: tokens.$c-darkGreen-700;
        }
        &::after {
          width: 100%;
        }
      }
    }

    & > ul {
      background: tokens.$c-white;
      width: 100vw;
      position: absolute;
      top: 4rem;
      right: 0;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100vh;
      overflow-y: auto;

      @media (min-width: tokens.$mq-900) {
        left: 3.2rem;
        top: 0;
        width: tokens.$leftOffset;
        min-width: 15rem;
        overflow: initial;
      }

      li {
        border-top: 1px solid tokens.$c-gray-400;
        position: initial;
        z-index: tokens.$layer-2;
        margin: 0;
        // padding: clamp(0.5em, 1vw, 1em);

        a,
        button {
          display: flex;
          color: tokens.$c-gray-700;
          border: none;
          width: 100%;
          padding: 1em 2em 1em 0.8em;
          font-family: tokens.$f-bodyFont;
          background: none;
          border: none;
          border-radius: 0;
          font-size: tokens.$fs-2xs;
          cursor: pointer;
          box-shadow: none;
          text-transform: uppercase;
          text-decoration: none;

          &:hover {
            background: tokens.$c-lavender-800;
            color: tokens.$c-white;
            text-decoration: underline;
          }
        }

        button {
          &::after {
            content: tokens.$i-plus;
            background: none;
            font-size: 1em;
            color: tokens.$c-gray-700;
            right: 0.5em;
          }

          &:hover {
            &::after {
              right: 0;
              color: tokens.$c-white;
            }
          }

          &[aria-expanded="true"] {
            background: tokens.$c-limeGreen-300;
            color: tokens.$c-gray-800;
            font-weight: bold;

            &::after {
              content: tokens.$i-chevron-right;
              color: tokens.$c-gray-800;
            }
          }
        }

        ul {
          background: color.adjust(tokens.$c-darkGreen-800, $lightness: -5%);
          height: 100%;
          width: 100%;
          margin: 0;
          list-style: none;

          @media (min-width: tokens.$mq-900) {
            position: absolute;
            left: 100%;
            top: 0;
            width: 25rem;
            height: 100vh;
          }

          button,
          a {
            color: tokens.$c-white;

            &::after {
              color: tokens.$c-white;
            }
          }

          li {
            border-color: rgba(tokens.$c-gray-300, 0.2);

            ul {
              background: color.adjust(tokens.$c-darkGreen-800, $lightness: -7%);
            }

            button {
              &[aria-expanded="true"] {
                background: tokens.$c-limeGreen-300;
                color: tokens.$c-gray-800;
                font-weight: bold;

                &::after {
                  content: tokens.$i-chevron-right;
                  color: tokens.$c-gray-800;
                }
              }
            }
          }
        }
      }
    }
  }

  &.openMenu {
    background: tokens.$c-gray-200;

    @media (min-width: tokens.$mq-900) {
      &::before {
        content: "";
        display: block;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(tokens.$c-black, 0.7);
        backdrop-filter: blur(5px);
        z-index: tokens.$layer-1;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 4rem;
      height: 100vh;
      position: fixed;
      top: 0;
      background: tokens.$c-white;
      z-index: tokens.$layer-1;
    }

    ul {
      list-style: none;
      z-index: tokens.$layer-2;

      @media (max-width: tokens.$mq-900) {
        height: calc(100vh - 4.45rem);
        padding-bottom: 4em;
      }

      li {
        padding: 0;

        &::before {
          display: none;
        }
      }
    }
  }
}

.navOpen {
  overflow: hidden;
}
