@use 'sass:color';
@use 'tokens';

.dropdown {
  display: none;
}
.showMenu {
  display: block;
}

.closedMenu {
  display: none;
}

.openedSubMenu {
  display: block;
}

.closedSubMenu {
  display: none;
}

.menuItems {
  padding: 0 0;
}

.navContainer {
  position: absolute;
  top: 0.5em;
  right: 0;
  z-index: tokens.$layer-9999;

  @media (min-width: tokens.$mq-800) {
    border-left: tokens.$bw-l solid tokens.$c-darkGreen-800;
    background: tokens.$c-white;
    width: 3.75rem;
    position: relative;
    top: initial;
    right: initial;
    z-index: tokens.$layer-10;
  }

  .navWrapper {
    position: sticky;
    top: 4.45rem;
    // border-top: tokens.$bw-xs solid tokens.$c-gray-400;

    .hamburger {
      background: none;
      border: none;
      font-size: tokens.$fs-m;
      padding-inline: tokens.$p-m;
      padding-block: tokens.$p-s;
      cursor: pointer;
      position: relative;
      height: 2.3em;

      span {
        display: none;

        @media (min-width: tokens.$mq-800) {
          display: block;
          font-size: tokens.$fs-xs;
          text-transform: uppercase;
          writing-mode: vertical-rl;
          transform: rotate(180deg);
        }
      }

      svg,
      span {
        position: relative;
        z-index: tokens.$layer-2;
        color: tokens.$c-gray-700;
      }

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: tokens.$c-gray-200;
        z-index: tokens.$layer-1;
        // border-right: 1px solid tokens.$c-gray-400;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        svg,
        span {
          color: tokens.$c-darkGreen-700;
        }
        &::after {
          width: 100%;
        }
      }
    }

    & > ul {
      background: tokens.$c-white;
      width: 100vw;
      position: absolute;
      top: 5rem;
      right: 0;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100vh;
      // overflow-y: auto;

      @media (min-width: tokens.$mq-800) {
        left: 3.2rem;
        top: 0;
        width: calc(tokens.$leftOffset - 4rem);
        min-width: 15rem;
      }

      &.openMenu {
        display: block;

        &::after {
          content: '';
          display: block;
          width: 100vw;
          height: 100vh;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(tokens.$c-gray-200, 0.9);
          // backdrop-filter: blur(3px);
          z-index: tokens.$layer-1;
        }
      }

      li {
        border-top: tokens.$bw-xs solid tokens.$c-gray-400;
        position: relative;
        z-index: tokens.$layer-2;

        a {
          display: block;
          color: tokens.$c-gray-600;
          padding: 0.5em 0.8em;
          text-decoration: none;
          font-size: tokens.$fs-xs;

          &:hover {
            background: tokens.$c-gray-200;
            color: tokens.$c-darkGreen-700;
          }
        }

        button {
          display: flex;
          color: tokens.$c-gray-600;
          border-top: tokens.$bw-xs solid tokens.$c-gray-400;
          width: 100%;
          padding: 0.5em 0.8em;
          background: none;
          border: none;
          font-size: tokens.$fs-xs;
          cursor: pointer;

          &:hover {
            background: tokens.$c-gray-200;
            color: tokens.$c-darkGreen-700;
          }

          &[aria-expanded='true'] {
            background: tokens.$c-lavender-800;
            color: white;

            &::after {
              content: tokens.$i-chevron-right;
              font-family: tokens.$f-icons;
              font-size: 1em;
              margin-inline: auto 0;
            }
          }
        }

        &:last-child {
          a {
            border-bottom: tokens.$bw-xs solid tokens.$c-gray-400;
          }
        }

        ul {
          background: tokens.$c-gray-300;
          height: 100vh;
          width: 100%;
          margin: 0;
          list-style: none;

          @media (min-width: tokens.$mq-800) {
            position: absolute;
            left: 100%;
            top: 0;
          }

          li {
            ul {
              background: tokens.$c-gray-400;
            }
            a {
              // background: yellow;
            }
            button {
              &[aria-expanded='true'] {
                background: color.scale(
                  tokens.$c-lavender-800,
                  $lightness: -10%
                );
                color: white;
              }
            }
          }
        }
      }
    }
  }

  button {
    text-align: left;
  }
}

.navOpen {
  overflow: hidden;
}
