@use 'tokens';

.dropdown {
  display: none;
}
.showMenu {
  display: block;
}

.openMenu {
  display: block;
}

.closedMenu {
  display: none;
}

.openedSubMenu {
  display: block;
}

.closedSubMenu {
  display: none;
}

.menuItems {
  padding: 0 0;
}

.navContainer {
  border-left: tokens.$bw-l solid tokens.$c-darkGreen-800;
  background: tokens.$c-white;
  width: 3.75rem;

  .navWrapper {
    position: sticky;
    top: 4.45rem;
    border-top: tokens.$bw-xs solid tokens.$c-gray-400;

    .hamburger {
      background: none;
      border: none;
      font-size: tokens.$fs-m;
      padding-inline: tokens.$p-m;
      padding-block: tokens.$p-s;
      cursor: pointer;
      position: relative;

      span {
        font-size: tokens.$fs-xs;
        text-transform: uppercase;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
      }

      svg,
      span {
        position: relative;
        z-index: tokens.$layer-2;
        color: tokens.$c-gray-700;
      }

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: tokens.$c-gray-200;
        z-index: tokens.$layer-1;
        border-right: 1px solid tokens.$c-gray-400;
        transition: all 0.2s ease-in-out;
      }

      &:hover,
      &:focus {
        svg,
        span {
          color: tokens.$c-darkGreen-700;
        }
        &::after {
          width: 100%;
        }
      }
    }

    & > ul {
      background: tokens.$c-white;
      width: calc(tokens.$leftOffset - 4rem);
      min-width: 15rem;
      position: absolute;
      top: 0;
      left: 3.2rem;
      list-style: none;
      margin: 0;
      padding: 0;

      // &::before {
      //   content: "";
      //   display: block;
      //   width: 100vw;
      //   height: 100vh;
      //   position: fixed;
      //   top: 0;
      //   left: 0;
      //   background: tokens.$c-gray-200;
      //   z-index: tokens.$layer-1;
      // }

      li {
        border-top: tokens.$bw-xs solid tokens.$c-gray-400;
        position: relative;
        z-index: tokens.$layer-2;

        a {
          display: block;
          text-transform: uppercase;
          color: tokens.$c-gray-600;
          padding: 1rem;
          text-decoration: none;
          font-size: tokens.$fs-xs;

          &:hover {
            background: tokens.$c-gray-200;
            color: tokens.$c-darkGreen-700;
          }
        }

        button {
          display: block;
          text-transform: uppercase;
          color: tokens.$c-gray-600;
          border-top: tokens.$bw-xs solid tokens.$c-gray-400;
          padding: 1rem;
          background: none;
          border: none;
          font-size: tokens.$fs-xs;
          cursor: pointer;

          &:hover {
            background: tokens.$c-gray-200;
            color: tokens.$c-darkGreen-700;
          }
        }

        &:last-child {
          a {
            border-bottom: tokens.$bw-xs solid tokens.$c-gray-400;
          }
        }

        ul {
          background: #efefef;
          margin-top: 1em;
          border-top: 1px solid red;
          li {
            a {
              background: yellow;
            }
          }
        }
      }
    }
  }
}
