// ================
// Fonts

@use "config";

// Use the below for Adobe Fonts/Google Fonts. Replace the URL with the font(s) you're planning to use.
// @import url("https://fontfamily.example.com");

//* Font Stacks
$f-headlineFont: "Roboto Slab", serif;
$f-bodyFont: "Cantarell", sans-serif;
$f-icons: "icomoon";

//* Font Sizes = If you're using a base unit, you can use the calc() function to calculate the font size. Otherwise, you can just use the font size you want. If $baseUnit is 16px, then $fontSize-xxxl is 72px

$fontSize-xxxl: calc(config.$baseUnit * 3.5); // 56px
$fontSize-xxl: calc(config.$baseUnit * 3); // 48px
$fontSize-xl: calc(config.$baseUnit * 2.5); // 40px
$fontSize-l: calc(config.$baseUnit * 2);
$fontSize-m: calc(config.$baseUnit * 1.5);
$fontSize-s: calc(config.$baseUnit * 1.25);
$fontSize-xs: calc(config.$baseUnit * 1);
$fontSize-xxs: calc(config.$baseUnit * 0.85);
$fontSize-xxxs: calc(config.$baseUnit * 0.75);

//? Title Colors
//? Paragraph Colors
