// ================
// Typography
// ================
@use "tokens";

// ================
// Root

html {
  line-height: tokens.$bodyLineHeight;
  font-family: tokens.$f-bodyFont;
}

// ================
// Headlines

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  line-height: tokens.$headingLineHeight;
  font-family: tokens.$f-headlineFont;
}

h1 {
  font-size: clamp(tokens.$fs-l, 5vw, tokens.$fs-3xl);
  font-weight: 400;
  strong {
    display: block;
    font-weight: 700;
  }
}
h2 {
  font-size: clamp(tokens.$fs-m, 4vw, tokens.$fs-xl);
  font-weight: 400;
  strong {
    display: block;
    font-weight: 800;
  }
}

h3 {
  font-size: clamp(tokens.$fs-s, 3vw, tokens.$fs-l);
  font-weight: 400;
  strong {
    display: block;
    font-weight: 700;
  }
}

h4 {
}

h5 {
}

h6 {
}

// ================
// Body Copy

p,
ul,
ol,
blockquote,
address {
  margin: 0 0 1rem 0;
  font-style: normal;
}

ul,
ol {
  li {
  }
}

a {
  &:hover,
  &:focus {
  }
}

%small,
small,
.copyright {
  font-size: 0.875em;
  font-style: italic;
}

// ================
// Other Type Styles

.error,
.val-header {
  color: tokens.$c-error;
}
